@page "/"
@inherits ReactiveComponentBase
@inject ICustomThemes CustomThemes
@inject IJSRuntime JSRuntime
@inject IModsDirectoryCataloger ModsDirectoryCataloger
@inject IDbContextFactory<PbDbContext> PbDbContextFactory
@inject ISettings Settings
@inject ISmartSimObserver SmartSimObserver
@inject IUserInterfaceMessaging UserInterfaceMessaging

<div class="main-tabs-backdrop"></div>
<MudTabs @bind-ActivePanelIndex="@ActivePanelIndex" MinimumTabWidth="200px" KeepPanelsAlive="@keepPanelsAlive" Class="main-tabs" Position="MudBlazor.Position.Left">
	<MudTabPanel Text="@(AppText.Home_ModHealth_Label)" Icon="@MaterialDesignIcons.Normal.BottleTonicPlus" IconColor="Color.Primary" BadgeColor="@(ObservedCollection(() => SmartSimObserver.ScanIssues).Any(si => si.Type is ScanIssueType.Dead or ScanIssueType.Sick) ? Color.Error : Color.Warning)" BadgeData="@(Observed(() => ModsDirectoryCataloger.State) is ModsDirectoryCatalogerState.Idle or ModsDirectoryCatalogerState.AnalyzingTopology && ObservedCollection(() => SmartSimObserver.ScanIssues).Any(si => si.Type is not ScanIssueType.Healthy) ? ObservedCollection(() => SmartSimObserver.ScanIssues).Count(si => si.Type is not ScanIssueType.Healthy) : null)">
        <div class="mod-health-tab-container">
            <div class="background"></div>
            <ModHealthDisplay />
        </div>
    </MudTabPanel>
	<MudTabPanel Text="@(AppText.Home_Catalog_Label)" Icon="@MaterialDesignIcons.Normal.Book" IconColor="Color.Primary">
        <div class="catalog-tab-container">
            <div class="background"></div>
            <CatalogDisplay />
        </div>
    </MudTabPanel>
	<MudTabPanel Text="@(AppText.Home_ModHound_Label)" Icon="@MaterialDesignIcons.Normal.Dog" IconColor="Color.Primary">
		<div class="mod-hound-tab-container">
			<div class="background"></div>
			<ModHoundDisplay />
		</div>
	</MudTabPanel>
	<MudTabPanel Text="@(AppText.Home_Archivist_Label)" Icon="@MaterialDesignIcons.Normal.ArchiveClock" IconColor="Color.Secondary">
		<div class="archivist-tab-container">
			<div class="background"></div>
			<ArchivistDisplay />
		</div>
	</MudTabPanel>
	<MudTabPanel Text="@(AppText.Home_Parlay_Label)" Icon="@MaterialDesignIcons.Normal.TranslateVariant" IconColor="Color.Secondary">
		<div class="parlay-tab-container">
			<div class="background"></div>
			<ParlayDisplay />
		</div>
	</MudTabPanel>
	<MudTabPanel Text="@(AppText.Home_ManifestEditor_Label)" Icon="@MaterialDesignIcons.Normal.TagEdit" IconColor="Color.Tertiary" Visible="@(Observed(() => Settings.Type) is UserType.Creator)">
        <div class="manifest-editor-tab-container">
            <div class="background"></div>
            <ManifestEditor />
        </div>
    </MudTabPanel>
	<MudTabPanel Text="@(AppText.Home_SampleUI_Label)" Icon="@MaterialDesignIcons.Normal.ApplicationEdit" Visible="@(Observed(() => Settings.DevToolsUnlocked) && Observed(() => Settings.ShowThemeManager))">
        <div class="mod-health-tab-container">
            <div class="background"></div>
            <SampleUserInterface />
        </div>
    </MudTabPanel>
</MudTabs>