@implements IDisposable
@inject IDialogService DialogService
@inject IMarkupLocalizer<AppText> MarkupLocalizer
@inject IPlatformFunctions PlatformFunctions
@inject ISettings Settings
@inject IStringLocalizer<AppText> StringLocalizer

<MudLoading @bind-Loading="@isLoading" Text="@loadingText" Color="Color.Primary" LoaderType="LoaderType.Linear" Overlap>
    <MudDialog>
        <DialogContent>
            <MudStepperExtended Class="mud-width-full mb-4" Color="Color.Primary" HeaderBadgeView="HeaderBadgeView.GreyOutIncomplete" HeaderSize="Size.Large" HeaderTextView="HeaderTextView.All" Linear LocalizedStrings="@(MarkupLocalizer.StepperLocalizedStrings)" PreventStepChangeAsync="HandlePreventStepChangeAsync" Variant="Variant.Filled">
                <ChildContent>
                    <MudStepExtended Icon="@MaterialDesignIcons.Normal.DrawPen" Title="@StringLocalizer[nameof(AppText.OnboardingDialog_EULA_Label)]">
                        <ChildContent>
                            <MudTextM3 Typo="TypoM3.Title" Align="Align.Center">
                                @MarkupLocalizer[nameof(AppText.OnboardingDialog_EULA_Heading_1)]
                            </MudTextM3>
                            <MudTextM3 Typo="TypoM3.Headline" Align="Align.Center">
                                @MarkupLocalizer[nameof(AppText.OnboardingDialog_EULA_Heading_2)]
                            </MudTextM3>
                            <MudTextM3 Typo="TypoM3.Title" Align="Align.Center">
                                @MarkupLocalizer[nameof(AppText.OnboardingDialog_EULA_Heading_3)]
                            </MudTextM3>
                            <div class="mt-4">
                                <InlineMarkdown>
                                    #### End User License Agreement<br />
                                    By proceeding beyond this screen, you (the "User") agree to the terms outlined below. If you do not agree to these terms, please close the application. Use of this software constitutes acceptance of these terms.<br /><br />
                                    1. **License**<br />PlumbBuddy is provided to you under the [MIT License](https://github.com/Llama-Logic/PlumbBuddy/blob/main/LICENSE), which you can view in full on [the project’s GitHub repository](https://github.com/Llama-Logic/PlumbBuddy). By using this software, you agree to the terms of the [MIT License](https://github.com/Llama-Logic/PlumbBuddy/blob/main/LICENSE), including the permissions and limitations outlined therein.<br /><br />
                                    2. **No Warranty**<br />PlumbBuddy is provided "as-is," without any warranty of any kind, either expressed or implied, including but not limited to warranties of merchantability, fitness for a particular purpose, or non-infringement. You acknowledge that there is no guarantee that PlumbBuddy will function without errors, and there is no guarantee that it will not inadvertently cause issues with your Sims 4 game installation or mods.<br /><br />
                                    3. **Limitation of Liability**<br />To the maximum extent permitted by law, in no event shall the developers of PlumbBuddy, including any contributors, be held liable for any damages arising out of or in connection with the use of the software, including but not limited to any direct, indirect, incidental, special, or consequential damages (such as data loss, corruption, or interruption of gameplay).<br /><br />
                                    4. **User Responsibility**<br />The User acknowledges that they are responsible for the use of this software. The User assumes all risks associated with downloading, installing, and using PlumbBuddy, including any modifications to their Sims 4 game or related software. The developers do not guarantee compatibility with all third-party mods, and the use of PlumbBuddy is at the User’s own risk.<br /><br />
                                    5. **Indemnification**<br />You agree to indemnify and hold harmless the developers and contributors of PlumbBuddy from any claims, damages, liabilities, or losses arising from your use of the software or any third-party modifications made through or in conjunction with it.<br /><br />
                                    6. **Termination of Use**<br />Your right to use PlumbBuddy may be terminated at any time without notice if you are found to be in violation of these terms or the [MIT License](https://github.com/Llama-Logic/PlumbBuddy/blob/main/LICENSE). Upon termination, you must cease all use of the software and destroy any copies in your possession.
                                </InlineMarkdown>
                            </div>
                        </ChildContent>
                    </MudStepExtended>
                    <MudStepExtended Icon="@MaterialDesignIcons.Normal.ThemeLightDark" Title="@StringLocalizer[nameof(AppText.OnboardingDialog_Theme_Label)]" Optional="false">
                        <ChildContent>
                            <MudTextM3 Typo="TypoM3.Title" Align="Align.Center">
                                @MarkupLocalizer[nameof(AppText.OnboardingDialog_Theme_Heading_1)]
                            </MudTextM3>
                            <MudTextM3 Typo="TypoM3.Title" Align="Align.Center">
                                @MarkupLocalizer[nameof(AppText.OnboardingDialog_Theme_Heading_2)]
                            </MudTextM3>
                            <MudTextM3 Typo="TypoM3.Headline" Align="Align.Center">
                                @MarkupLocalizer[nameof(AppText.OnboardingDialog_Theme_Heading_3)]
                            </MudTextM3>
                            <div class="mt-4 mb-2 mx-n6 px-6 py-2 overflow-y-auto" style="max-height: calc(100vh - 440px);">
                                <ThemeSelector />
                            </div>
                        </ChildContent>
                    </MudStepExtended>
                    <MudStepExtended Icon="@MaterialDesignIcons.Normal.HumanGreeting" Title="@StringLocalizer[nameof(AppText.OnboardingDialog_Introductions_Label)]">
                        <ChildContent>
                            <MudTextM3 Typo="TypoM3.Title" Align="Align.Center">
                                @MarkupLocalizer[nameof(AppText.OnboardingDialog_Introductions_Heading_1)]
                            </MudTextM3>
                            <MudTextM3 Typo="TypoM3.Headline" Align="Align.Center">
                                @MarkupLocalizer[nameof(AppText.OnboardingDialog_Introductions_Heading_2)]
                            </MudTextM3>
                            <div class="mt-4">
                                <UserTypeSelector @bind-Type="@Type" />
                            </div>
                        </ChildContent>
                    </MudStepExtended>
                    <MudStepExtended Icon="@MaterialDesignIcons.Normal.FolderMarker" Title="@StringLocalizer[nameof(AppText.OnboardingDialog_Folders_Label)]" Optional="false">
                        <ChildContent>
                            <MudTextM3 Typo="TypoM3.Title" Align="Align.Center">
                                @MarkupLocalizer[nameof(AppText.OnboardingDialog_Folders_Heading_1)]
                            </MudTextM3>
                            <MudTextM3 Typo="TypoM3.Headline" Align="Align.Center">
                                @MarkupLocalizer[nameof(AppText.OnboardingDialog_Folders_Heading_2)]
                            </MudTextM3>
                            <div class="mt-8">
                                <FoldersSelector @ref="@foldersSelector" @bind-DownloadsFolderPath="@DownloadsFolderPath" @bind-InstallationFolderPath="@InstallationFolderPath" @bind-UserDataFolderPath="@UserDataFolderPath" @bind-ArchiveFolderPath="@ArchiveFolderPath" IsOnboarding="true" />
                            </div>
                        </ChildContent>
                    </MudStepExtended>
                    <MudStepExtended Icon="@MaterialDesignIcons.Normal.BottleTonicPlus" Title="@StringLocalizer[nameof(AppText.OnboardingDialog_ModHealth_Label)]" Optional="false">
                        <ChildContent>
                            @if (Settings.Type is UserType.Casual)
                            {
                                <MudTextM3 Typo="TypoM3.Title" Align="Align.Center">
                                    @MarkupLocalizer[nameof(AppText.OnboardingDialog_ModHealth_Casual_Heading_1)]
                                </MudTextM3>
                                <MudTextM3 Typo="TypoM3.Headline" Align="Align.Center">
                                    @MarkupLocalizer[nameof(AppText.OnboardingDialog_ModHealth_Casual_Heading_2)]
                                </MudTextM3>
                                <MudGrid Justify="Justify.Center" Class="my-4">
                                    <MudItem xs="2" Style="align-content: center">
                                        <MudImage Src="/img/TwistedMexiLogo.png" ObjectFit="ObjectFit.Contain" Width="120" />
                                    </MudItem>
                                    <MudItem xs="10">
                                        <MudStack Row AlignItems="AlignItems.Center">
                                            <MudSwitchM3 @bind-Value="@ScanForMissingModGuard" Color="Color.Primary" ThumbIcon="@MaterialDesignIcons.Normal.Security" ThumbOffIcon="@MaterialDesignIcons.Normal.ShieldOff" Class="flex-grow-1">
                                                @MarkupLocalizer[nameof(AppText.OnboardingDialog_ModHealth_Casual_ModGuard_Label)]
                                            </MudSwitchM3>
                                            <MudAlert Severity="Severity.Info" Icon="@MaterialDesignIcons.Outline.ShieldCheck" Dense>
                                                @MarkupLocalizer[nameof(AppText.OnboardingDialog_ModHealth_Casual_ModGuard_Recommendation)]
                                            </MudAlert>
                                        </MudStack>
                                        <MudTextM3 Typo="TypoM3.Body" Style="padding-left: 4em;" Align="Align.Justify">
                                            @MarkupLocalizer[nameof(AppText.OnboardingDialog_ModHealth_Casual_ModGuard_Description)]
                                        </MudTextM3>
                                        <MudLink Href="https://plumbbuddy.app/redirect?to=ModGuard" Target="_blank" Style="padding-left: 4em;">
                                            @MarkupLocalizer[nameof(AppText.OnboardingDialog_ModHealth_Casual_ModGuard_LearnMore)]
                                        </MudLink>
                                    </MudItem>
                                    <MudItem xs="2" Style="align-content: center">
                                        <MudImage Src="/img/DiscordLogo.png" ObjectFit="ObjectFit.Contain" Width="120" />
                                    </MudItem>
                                    <MudItem xs="10">
                                        <MudStack Row AlignItems="AlignItems.Center">
                                            <MudSwitchM3 @bind-Value="@ScanForErrorLogs" Color="Color.Primary" ThumbIcon="@MaterialDesignIcons.Normal.FileDocumentAlert" ThumbOffIcon="@MaterialDesignIcons.Normal.FileDocumentRemove" Class="flex-grow-1">
                                                @MarkupLocalizer[nameof(AppText.OnboardingDialog_ModHealth_Casual_ErrorLogs_Label)]
                                            </MudSwitchM3>
                                            <MudAlert Severity="Severity.Normal" Icon="@MaterialDesignIcons.Outline.HandHeart" Dense>
                                                @MarkupLocalizer[nameof(AppText.OnboardingDialog_ModHealth_Casual_ErrorLogs_Recommendation)]
                                            </MudAlert>
                                        </MudStack>
                                        <MudTextM3 Typo="TypoM3.Body" Style="padding-left: 4em;" Align="Align.Justify">
                                            @MarkupLocalizer[nameof(AppText.OnboardingDialog_ModHealth_Casual_ErrorLogs_Description)]
                                        </MudTextM3>
                                        <MudLink Href="https://discord.com/" Target="_blank" Style="padding-left: 4em;">
                                            @MarkupLocalizer[nameof(AppText.OnboardingDialog_ModHealth_Casual_ErrorLogs_LearnMore)]
                                        </MudLink>
                                    </MudItem>
                                    <MudItem>
                                        <MudTextM3 Typo="TypoM3.Title" Align="Align.Center">
                                            @MarkupLocalizer[nameof(AppText.OnboardingDialog_ModHealth_Casual_ErrorLogging_Heading_1)]
                                        </MudTextM3>
                                        <MudTextM3 Typo="TypoM3.Body" Align="Align.Center">
                                            @MarkupLocalizer[nameof(AppText.OnboardingDialog_ModHealth_Casual_ErrorLogging_Heading_2)]
                                        </MudTextM3>
                                    </MudItem>
                                    <MudFlexBreak />
                                    <MudItem xs="2" Style="align-content: center">
                                        <MudImage Src="/img/DeaderpoolLogo.svg" ObjectFit="ObjectFit.Contain" Width="120" />
                                    </MudItem>
                                    <MudItem xs="10">
                                        <MudStack Row AlignItems="AlignItems.Center">
                                            <MudSwitchM3 @bind-Value="@ScanForMissingMccc" Color="Color.Primary" ThumbIcon="@MaterialDesignIcons.Normal.Cog" ThumbOffIcon="@MaterialDesignIcons.Normal.CogOff" Class="flex-grow-1">
                                                @MarkupLocalizer[nameof(AppText.OnboardingDialog_ModHealth_Casual_MCCC_Label)]
                                            </MudSwitchM3>
                                            <MudLink Href="https://plumbbuddy.app/redirect?to=LearnAboutMCCommandCenter" Target="_blank">
                                                @MarkupLocalizer[nameof(AppText.Common_LearnMore)]
                                            </MudLink>
                                        </MudStack>
                                        <MudStack Row>
                                            <MudAlert Severity="Severity.Success" Icon="@MaterialDesignIcons.Outline.ThumbUp" Dense>
                                                @MarkupLocalizer[nameof(AppText.OnboardingDialog_ModHealth_Casual_MCCC_Pros)]
                                            </MudAlert>
                                            <MudAlert Severity="Severity.Warning" Icon="@MaterialDesignIcons.Outline.BadgeAccountAlert" Dense>
                                                @MarkupLocalizer[nameof(AppText.OnboardingDialog_ModHealth_Casual_MCCC_Cons)]
                                            </MudAlert>
                                        </MudStack>
                                    </MudItem>
                                    <MudItem xs="2" Style="align-content: center">
                                        <MudImage Src="/img/TwistedMexiLogo.png" ObjectFit="ObjectFit.Contain" Width="120" />
                                    </MudItem>
                                    <MudItem xs="10">
                                        <MudStack Row AlignItems="AlignItems.Center">
                                            <MudSwitchM3 @bind-Value="@ScanForMissingBe" Color="Color.Primary" ThumbIcon="@MaterialDesignIcons.Normal.Cog" ThumbOffIcon="@MaterialDesignIcons.Normal.CogOff" Class="flex-grow-1">
                                                @MarkupLocalizer[nameof(AppText.OnboardingDialog_ModHealth_Casual_BE_Label)]
                                            </MudSwitchM3>
                                            <MudLink Href="https://plumbbuddy.app/redirect?to=BetterExceptions" Target="_blank">
                                                @MarkupLocalizer[nameof(AppText.Common_LearnMore)]
                                            </MudLink>
                                        </MudStack>
                                        <MudStack Row>
                                            <MudAlert Severity="Severity.Success" Icon="@MaterialDesignIcons.Outline.ThumbUp" Dense>
                                                @MarkupLocalizer[nameof(AppText.OnboardingDialog_ModHealth_Casual_BE_Pros)]
                                            </MudAlert>
                                            <MudAlert Severity="Severity.Warning" Icon="@MaterialDesignIcons.Outline.TimerAlert" Dense>
                                                @MarkupLocalizer[nameof(AppText.OnboardingDialog_ModHealth_Casual_BE_Cons)]
                                            </MudAlert>
                                        </MudStack>
                                    </MudItem>
                                </MudGrid>
                            }
                            else
                            {
                                <MudTextM3 Typo="TypoM3.Title" Align="Align.Center">
                                    @MarkupLocalizer[nameof(AppText.OnboardingDialog_ModHealth_NonCasual_Heading_1)]
                                </MudTextM3>
                                <MudTextM3 Typo="TypoM3.Headline" Align="Align.Center">
                                    @MarkupLocalizer[nameof(AppText.OnboardingDialog_ModHealth_NonCasual_Heading_2)]
                                </MudTextM3>
                                <MudGrid Justify="Justify.Center" Class="mb-4">
                                    <MudItem xs="10">
                                        <ScansToggler @bind-ScanForCacheStaleness="@ScanForCacheStaleness" @bind-ScanForCorruptMods="@ScanForCorruptMods" @bind-ScanForCorruptScriptMods="@ScanForCorruptScriptMods" @bind-ScanForErrorLogs="@ScanForErrorLogs" @bind-ScanForInvalidModSubdirectoryDepth="@ScanForInvalidModSubdirectoryDepth" @bind-ScanForInvalidScriptModSubdirectoryDepth="@ScanForInvalidScriptModSubdirectoryDepth" @bind-ScanForLoose7ZipArchives="@ScanForLoose7ZipArchives" @bind-ScanForLooseRarArchives="@ScanForLooseRarArchives" @bind-ScanForLooseZipArchives="@ScanForLooseZipArchives" @bind-ScanForMissingBe="@ScanForMissingBe" @bind-ScanForMismatchedInscribedHashes="@ScanForMismatchedInscribedHashes" @bind-ScanForMissingDependency="@ScanForMissingDependency" @bind-ScanForMissingMccc="@ScanForMissingMccc" @bind-ScanForMissingModGuard="@ScanForMissingModGuard" @bind-ScanForModsDisabled="@ScanForModsDisabled" @bind-ScanForMultipleModVersions="@ScanForMultipleModVersions" @bind-ScanForMutuallyExclusiveMods="@ScanForMutuallyExclusiveMods" @bind-ScanForScriptModsDisabled="@ScanForScriptModsDisabled" @bind-ScanForShowModsListAtStartupEnabled="@ScanForShowModsListAtStartupEnabled" />
                                    </MudItem>
                                </MudGrid>
                            }
                        </ChildContent>
                    </MudStepExtended>
                    <MudStepExtended Icon="@MaterialDesignIcons.Normal.HeartSettings" Title="@StringLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_Label)]">
                        <ChildContent>
                            <MudTextM3 Typo="TypoM3.Title" Align="Align.Center">
                                @MarkupLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_Heading_1)]
                            </MudTextM3>
                            <MudTextM3 Typo="TypoM3.Headline" Align="Align.Center">
                                @MarkupLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_Heading_2)]
                            </MudTextM3>
							<MudGrid Justify="Justify.Center" Class="my-8">
								<MudItem xs="8">
									<MudStack>
										@if (Type is UserType.Creator)
										{
											<ChipSetField @ref="@defaultCreatorsChipSetField" @bind-Values="@defaultCreators" Color="Color.Tertiary" Label="@StringLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_DefaultCreators_Label)]" AdornmentIcon="@MaterialDesignIcons.Normal.AccountGroup" AdornmentColor="Color.Tertiary" ChipIcon="@MaterialDesignIcons.Normal.Account" Placeholder="@StringLocalizer[nameof(AppText.ManifestEditor_Details_Creators_Placeholder)]" HelperText="@StringLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_DefaultCreators_HelperText)]" />
										}
										<MudTooltip Arrow Color="Color.Primary" Text="@StringLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_AutomaticallyCheckForUpdates_Tip)]">
											<MudSwitchM3 @bind-Value="@AutomaticallyCheckForUpdates" Color="Color.Primary" ThumbIcon="@MaterialDesignIcons.Normal.Update">
												@MarkupLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_AutomaticallyCheckForUpdates_Label)]
											</MudSwitchM3>
										</MudTooltip>
										<MudTooltip Arrow Color="Color.Primary" Text="@StringLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_OfferPatchDayModUpdatesHelp_Tip)]">
											<MudSwitchM3 @bind-Value="@OfferPatchDayModUpdatesHelp" Color="Color.Primary" ThumbIcon="@MaterialDesignIcons.Normal.Newspaper">
												@MarkupLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_OfferPatchDayModUpdatesHelp_Label)]
											</MudSwitchM3>
										</MudTooltip>
										<MudTooltip Arrow Color="Color.Primary" Text="@StringLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_GenerateGlobalManifestPackage_Tip)]">
											<MudSwitchM3 @bind-Value="@GenerateGlobalManifestPackage" Color="Color.Primary" ThumbIcon="@MaterialDesignIcons.Normal.InvoiceList">
												@MarkupLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_GenerateGlobalManifestPackage_Label)]
											</MudSwitchM3>
										</MudTooltip>
										@if (DeviceInfo.Current.Platform == DevicePlatform.WinUI)
										{
											<MudTooltip Arrow Color="Color.Primary" Text="@StringLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_ShowSystemTrayIcon_Tip)]">
												<MudSwitchM3 @bind-Value="@ShowSystemTrayIcon" Color="Color.Primary" ThumbIcon="@MaterialDesignIcons.Normal.ChevronUp">
													@MarkupLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_ShowSystemTrayIcon_Label)]
												</MudSwitchM3>
											</MudTooltip>
										}
										@if (PlatformFunctions.ProcessorsHavePerformanceVarianceAndConfigurableAffinity && Type is not UserType.Casual)
										{
											<MudTooltip Arrow Color="Color.Secondary" Text="@StringLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_ForceGameProcessPerformanceProcessorAffinity_Tip)]">
												<MudSwitchM3 @bind-Value="@ForceGameProcessPerformanceProcessorAffinity" Color="Color.Secondary" ThumbIcon="@MaterialDesignIcons.Normal.LightningBolt" ThumbOffIcon="@MaterialDesignIcons.Normal.Leaf">
													@MarkupLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_ForceGameProcessPerformanceProcessorAffinity_Label)]
												</MudSwitchM3>
											</MudTooltip>
										}
										@if (Type is UserType.Creator)
										{
											<MudTooltip Arrow Color="Color.Tertiary" Text="@AppText.OnboardingDialog_PlumbBuddy_AutomaticallyCatalogOnComposition_Tip">
												<MudSwitchM3 @bind-Value="@AutomaticallyCatalogOnComposition" Color="Color.Tertiary" ThumbIcon="@MaterialDesignIcons.Normal.FileSign">
													@StringLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_AutomaticallyCatalogOnComposition_Label)]
												</MudSwitchM3>
											</MudTooltip>
											<MudTooltip Arrow Color="Color.Tertiary" Text="@(AppText.OnboardingDialog_PlumbBuddy_AutomaticallySubsumeIdenticallyCreditedSingleFileModsWhenInitializingAManifest_Tip)">
												<MudSwitchM3 @bind-Value="@AutomaticallySubsumeIdenticallyCreditedSingleFileModsWhenInitializingAManifest" Color="Color.Tertiary" ThumbIcon="@MaterialDesignIcons.Normal.AutoMode">
													@StringLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_AutomaticallySubsumeIdenticallyCreditedSingleFileModsWhenInitializingAManifest_Label)]
												</MudSwitchM3>
											</MudTooltip>
										}
									</MudStack>
								</MudItem>
							</MudGrid>
                        </ChildContent>
                    </MudStepExtended>
                </ChildContent>
            </MudStepperExtended>
        </DialogContent>
    </MudDialog>
</MudLoading>