@implements IDisposable
@inject IPlayer Player

<MudLoading @bind-Loading="@isLoading" @bind-Text="@loadingText" Color="Color.Primary" LoaderType="LoaderType.Linear" Overlap="true">
    <MudDialog>
        <DialogContent>
            <MudStepperExtended Class="mud-width-full" Color="Color.Primary" HeaderBadgeView="HeaderBadgeView.GreyOutIncomplete" HeaderSize="Size.Large" HeaderTextView="HeaderTextView.All" Linear="true" PreventStepChangeAsync="HandlePreventStepChangeAsync" Variant="Variant.Filled" Style="margin-bottom: 10px;">
                <ChildContent>
                    <MudStepExtended Icon="@MaterialDesignIcons.Normal.HumanGreeting" Title="Making Introductions">
                        <ChildContent>
                            <MudTextM3 Typo="TypoM3.Title" Align="Align.Center">
                                In order to serve you best, it helps me to know what kind of player you are.
                            </MudTextM3>
                            <MudTextM3 Typo="TypoM3.Headline" Align="Align.Center">
                                Which of these slides best fits you?
                            </MudTextM3>
                            <br />
                            <UserTypeSelector @bind-Type="@Type" />
                        </ChildContent>
                    </MudStepExtended>
                    <MudStepExtended Icon="@MaterialDesignIcons.Normal.FolderMarker" Title="The Sims 4 Folder Locations" Optional="false">
                        <ChildContent>
                            <MudTextM3 Typo="TypoM3.Title" Align="Align.Center">
                                Prepare for some Earth-shattering discoveries I've made about your computer. 😆
                            </MudTextM3>
                            <MudTextM3 Typo="TypoM3.Headline" Align="Align.Center">
                                This information tells me where to find important folders.
                            </MudTextM3>
                            <br />
                            <br />
                            <FoldersSelector @ref="@foldersSelector" @bind-InstallationFolderPath="@InstallationFolderPath" @bind-UserDataFolderPath="@UserDataFolderPath" IsOnboarding="true" />
                        </ChildContent>
                    </MudStepExtended>
                    <MudStepExtended Icon="@MaterialDesignIcons.Normal.CubeScan" Title="Mod Health Scan Starting Options">
                        <ChildContent>
                            @if (Player.Type is UserType.Casual)
                            {
                                <MudTextM3 Typo="TypoM3.Title" Align="Align.Center">
                                    Alrighty! You're almost all set, bud. 👍 Just a few more preferences...
                                </MudTextM3>
                                <MudTextM3 Typo="TypoM3.Headline" Align="Align.Center">
                                    Which of the following do you agree with?
                                </MudTextM3>
                                <br />
                                <MudPage Column="6" Row="3" Style="margin: 0 auto; width: 85%; min-height: 555px;">
                                    <MudSection Row="1" Column="1">
                                        <MudImage Src="/img/DiscordLogo.png" ObjectFit="ObjectFit.Contain" Width="110" Style="margin: auto; padding-right: 10px;" />
                                    </MudSection>
                                    <MudSection Row="1" Column="2" ColSpan="5" Style="height: auto;">
                                        <MudSwitchM3 @bind-Value="@ScanForErrorLogs" Color="Color.Primary" ThumbIcon="@MaterialDesignIcons.Normal.FileDocumentAlert" ThumbOffIcon="@MaterialDesignIcons.Normal.FileDocumentRemove">
                                            I'm interested in reporting errors to creators when they happen in my game.
                                        </MudSwitchM3>
                                        <MudTextM3 Typo="TypoM3.Body" Style="padding-left: 4em;" Align="Align.Justify">
                                            When your game or a mod logs an error, I'll let you know and we'll figure out where to take the error to get it looked at.
                                            Just so you know, this will be a Discord server.
                                            So, if you're unfamiliar with Discord or not interested in using it, you may want to turn this off.
                                        </MudTextM3>
                                        <MudLink OnClick="LearnMoreAboutDiscordOnClickHandlerAsync" Style="padding-left: 4em;">Learn more about Discord</MudLink>
                                    </MudSection>
                                    <MudSection Row="2" Column="1">
                                        <MudImage Src="/img/DeaderpoolLogo.svg" ObjectFit="ObjectFit.Contain" Width="110" Style="margin: auto; padding-right: 10px;" />
                                    </MudSection>
                                    <MudSection Row="2" Column="2" ColSpan="5" Style="height: auto;">
                                        <MudSwitchM3 @bind-Value="@ScanForMissingMccc" Color="Color.Primary" ThumbIcon="@MaterialDesignIcons.Normal.Cog" ThumbOffIcon="@MaterialDesignIcons.Normal.CogOff">
                                            I want advanced in-game customization and error logging.
                                        </MudSwitchM3>
                                        <MudTextM3 Typo="TypoM3.Body" Style="padding-left: 4em;" Align="Align.Justify">
                                            Deaderpool's MC Command Center is a mod that adds greater control to your Sims 4 game experience and NPC story progression options.
                                            If I find that you don't have it, I'll help you get it.
                                        </MudTextM3>
                                        <MudLink OnClick="LearnMoreAboutMcccOnClickHandlerAsync" Style="padding-left: 4em;">Learn more about MC Command Center</MudLink>
                                    </MudSection>
                                    <MudSection Row="3" Column="1">
                                        <MudImage Src="/img/TwistedMexiLogo.png" ObjectFit="ObjectFit.Contain" Width="110" Style="margin: auto; padding-right: 10px;" />
                                    </MudSection>
                                    <MudSection Row="3" Column="2" ColSpan="5" Style="height: auto;">
                                        <MudSwitchM3 @bind-Value="@ScanForMissingModGuard" Color="Color.Primary" ThumbIcon="@MaterialDesignIcons.Normal.Security" ThumbOffIcon="@MaterialDesignIcons.Normal.ShieldOff">
                                            I'm concerned about safety when it comes to mods.
                                        </MudSwitchM3>
                                        <MudTextM3 Typo="TypoM3.Body" Style="padding-left: 4em;" Align="Align.Justify">
                                            TwistedMexi's Mod Guard blocks common virus vectors, tracks the mod file that attempted to download it, notifies you, and communicates the mod name back to TwistedMexi so compromised modder accounts can be notified as soon as possible.
                                            If I find that you don't have it, I'll help you get it.
                                        </MudTextM3>
                                        <MudLink OnClick="LearnMoreAboutModGuardOnClickHandlerAsync" Style="padding-left: 4em;">Learn more about Mod Guard</MudLink>
                                    </MudSection>
                                </MudPage>
                            }
                            else
                            {
                                <MudTextM3 Typo="TypoM3.Title" Align="Align.Center">
                                    Alright, Chief. I heard you, loud and clear. 🫡
                                </MudTextM3>
                                <MudTextM3 Typo="TypoM3.Headline" Align="Align.Center">
                                    For what issues should I get your attention?
                                </MudTextM3>
                                <br />
                                <div style="margin: 0 auto; width: 85%;">
                                    <ScansToggler @bind-ScanForCacheStaleness="@ScanForCacheStaleness" @bind-ScanForErrorLogs="@ScanForErrorLogs" @bind-ScanForInvalidModSubdirectoryDepth="@ScanForInvalidModSubdirectoryDepth" @bind-ScanForInvalidScriptModSubdirectoryDepth="@ScanForInvalidScriptModSubdirectoryDepth" @bind-ScanForLoose7ZipArchives="@ScanForLoose7ZipArchives" @bind-ScanForLooseRarArchives="@ScanForLooseRarArchives" @bind-ScanForLooseZipArchives="@ScanForLooseZipArchives" @bind-ScanForMissingBe="@ScanForMissingBe" @bind-ScanForMissingDependency="@ScanForMissingDependency" @bind-ScanForMissingMccc="@ScanForMissingMccc" @bind-ScanForMissingModGuard="@ScanForMissingModGuard" @bind-ScanForModsDisabled="@ScanForModsDisabled" @bind-ScanForMultipleModVersions="@ScanForMultipleModVersions" @bind-ScanForResourceConflicts="@ScanForResourceConflicts" @bind-ScanForScriptModsDisabled="@ScanForScriptModsDisabled" />
                                </div>
                            }
                            <br />
                        </ChildContent>
                    </MudStepExtended>
                </ChildContent>
            </MudStepperExtended>
        </DialogContent>
    </MudDialog>
</MudLoading>