@implements IDisposable
@inject IDialogService DialogService
@inject IPlayer Player

<MudLoading @bind-Loading="@isLoading" @bind-Text="@loadingText" Color="Color.Primary" LoaderType="LoaderType.Linear" Overlap>
    <MudDialog>
        <DialogContent>
            <MudStepperExtended Class="mud-width-full mb-4" Color="Color.Primary" HeaderBadgeView="HeaderBadgeView.GreyOutIncomplete" HeaderSize="Size.Large" HeaderTextView="HeaderTextView.All" Linear="true" PreventStepChangeAsync="HandlePreventStepChangeAsync" Variant="Variant.Filled">
                <ChildContent>
                    <MudStepExtended Icon="@MaterialDesignIcons.Normal.DrawPen" Title="EULA">
                        <ChildContent>
                            <MudTextM3 Typo="TypoM3.Title" Align="Align.Center">
                                I hate to have to begin our relationship this way, but... 😔
                            </MudTextM3>
                            <MudTextM3 Typo="TypoM3.Headline" Align="Align.Center">
                                I need you to say you won't sue my parents.
                            </MudTextM3>
                            <MudTextM3 Typo="TypoM3.Title" Align="Align.Center">
                                👇 Scroll to the bottom and click <MudChip T="string" Label="true" Color="Color.Primary">NEXT</MudChip> to agree and continue. 👉
                            </MudTextM3>
                            <div class="mt-4">
                                <InlineMarkdown>
                                    #### End User License Agreement<br />
                                    By proceeding beyond this screen, you (the "User") agree to the terms outlined below. If you do not agree to these terms, please close the application. Use of this software constitutes acceptance of these terms.<br /><br />
                                    1. **License**<br />PlumbBuddy is provided to you under the [MIT License](https://github.com/Llama-Logic/PlumbBuddy/blob/main/LICENSE), which you can view in full on [the project’s GitHub repository](https://github.com/Llama-Logic/PlumbBuddy). By using this software, you agree to the terms of the [MIT License](https://github.com/Llama-Logic/PlumbBuddy/blob/main/LICENSE), including the permissions and limitations outlined therein.<br /><br />
                                    2. **No Warranty**<br />PlumbBuddy is provided "as-is," without any warranty of any kind, either expressed or implied, including but not limited to warranties of merchantability, fitness for a particular purpose, or non-infringement. You acknowledge that there is no guarantee that PlumbBuddy will function without errors, and there is no guarantee that it will not inadvertently cause issues with your Sims 4 game installation or mods.<br /><br />
                                    3. **Limitation of Liability**<br />To the maximum extent permitted by law, in no event shall the developers of PlumbBuddy, including any contributors, be held liable for any damages arising out of or in connection with the use of the software, including but not limited to any direct, indirect, incidental, special, or consequential damages (such as data loss, corruption, or interruption of gameplay).<br /><br />
                                    4. **User Responsibility**<br />The User acknowledges that they are responsible for the use of this software. The User assumes all risks associated with downloading, installing, and using PlumbBuddy, including any modifications to their Sims 4 game or related software. The developers do not guarantee compatibility with all third-party mods, and the use of PlumbBuddy is at the User’s own risk.<br /><br />
                                    5. **Indemnification**<br />You agree to indemnify and hold harmless the developers and contributors of PlumbBuddy from any claims, damages, liabilities, or losses arising from your use of the software or any third-party modifications made through or in conjunction with it.<br /><br />
                                    6. **Termination of Use**<br />Your right to use PlumbBuddy may be terminated at any time without notice if you are found to be in violation of these terms or the [MIT License](https://github.com/Llama-Logic/PlumbBuddy/blob/main/LICENSE). Upon termination, you must cease all use of the software and destroy any copies in your possession.
                                </InlineMarkdown>
                            </div>
                        </ChildContent>
                    </MudStepExtended>
                    <MudStepExtended Icon="@MaterialDesignIcons.Normal.ThemeLightDark" Title="Theme" Optional="false">
                        <ChildContent>
                            <MudTextM3 Typo="TypoM3.Title" Align="Align.Center">
                                Some of your favorite Creators have given me beautiful makeovers. 💄
                            </MudTextM3>
                            <MudTextM3 Typo="TypoM3.Title" Align="Align.Center">
                                🤔 Will you decide for personal aesthetics or fandom reasons?
                            </MudTextM3>
                            <MudTextM3 Typo="TypoM3.Headline" Align="Align.Center">
                                Either way, how I look is up to you!
                            </MudTextM3>
                            <div class="mt-4 mb-2 mx-n6 px-6 py-2 overflow-y-auto" style="max-height: calc(100vh - 440px);">
                                <ThemeSelector />
                            </div>
                        </ChildContent>
                    </MudStepExtended>
                    <MudStepExtended Icon="@MaterialDesignIcons.Normal.HumanGreeting" Title="Introductions">
                        <ChildContent>
                            <MudTextM3 Typo="TypoM3.Title" Align="Align.Center">
                                In order to serve you best, it helps me to know what kind of player you are.
                            </MudTextM3>
                            <MudTextM3 Typo="TypoM3.Headline" Align="Align.Center">
                                Use the colored circles or arrows below to choose.
                            </MudTextM3>
                            <div class="mt-4">
                                <UserTypeSelector @bind-Type="@Type" />
                            </div>
                        </ChildContent>
                    </MudStepExtended>
                    <MudStepExtended Icon="@MaterialDesignIcons.Normal.FolderMarker" Title="Folders" Optional="false">
                        <ChildContent>
                            <MudTextM3 Typo="TypoM3.Title" Align="Align.Center">
                                Prepare for some Earth-shattering discoveries I've made about your computer. 😆
                            </MudTextM3>
                            <MudTextM3 Typo="TypoM3.Headline" Align="Align.Center">
                                This information tells me where to find important folders.
                            </MudTextM3>
                            <div class="mt-8">
                                <FoldersSelector @ref="@foldersSelector" @bind-InstallationFolderPath="@InstallationFolderPath" @bind-UserDataFolderPath="@UserDataFolderPath" IsOnboarding="true" />
                            </div>
                        </ChildContent>
                    </MudStepExtended>
                    <MudStepExtended Icon="@MaterialDesignIcons.Normal.CubeScan" Title="Scans">
                        <ChildContent>
                            @if (Player.Type is UserType.Casual)
                            {
                                <MudTextM3 Typo="TypoM3.Title" Align="Align.Center">
                                    Alrighty! You're almost all set, bud. 👍 Just a few more preferences...
                                </MudTextM3>
                                <MudTextM3 Typo="TypoM3.Headline" Align="Align.Center">
                                    Which of the following do you agree with?
                                </MudTextM3>
                                <MudGrid Justify="Justify.Center" Class="my-4">
                                    <MudItem xs="11">
                                        <MudPage Column="6" Row="3" Style="min-height: 555px;">
                                            <MudSection Row="1" Column="1">
                                                <MudImage Src="/img/DiscordLogo.png" ObjectFit="ObjectFit.Contain" Width="110" Style="margin: auto; padding-right: 10px;" />
                                            </MudSection>
                                            <MudSection Row="1" Column="2" ColSpan="5" Style="height: auto;">
                                                <MudSwitchM3 @bind-Value="@ScanForErrorLogs" Color="Color.Primary" ThumbIcon="@MaterialDesignIcons.Normal.FileDocumentAlert" ThumbOffIcon="@MaterialDesignIcons.Normal.FileDocumentRemove">
                                                    I'm interested in reporting errors to creators when they happen in my game.
                                                </MudSwitchM3>
                                                <MudTextM3 Typo="TypoM3.Body" Style="padding-left: 4em;" Align="Align.Justify">
                                                    When your game or a mod logs an error, I'll let you know and we'll figure out where to take the error to get it looked at.
                                                    Just so you know, this will be a Discord server.
                                                    So, if you're unfamiliar with Discord or not interested in using it, you may want to turn this off.
                                                </MudTextM3>
                                                <MudLink Href="https://discord.com/" Target="_blank" Style="padding-left: 4em;">Learn more about Discord</MudLink>
                                            </MudSection>
                                            <MudSection Row="2" Column="1">
                                                <MudImage Src="/img/DeaderpoolLogo.svg" ObjectFit="ObjectFit.Contain" Width="110" Style="margin: auto; padding-right: 10px;" />
                                            </MudSection>
                                            <MudSection Row="2" Column="2" ColSpan="5" Style="height: auto;">
                                                <MudSwitchM3 @bind-Value="@ScanForMissingMccc" Color="Color.Primary" ThumbIcon="@MaterialDesignIcons.Normal.Cog" ThumbOffIcon="@MaterialDesignIcons.Normal.CogOff">
                                                    I want advanced in-game customization and error logging.
                                                </MudSwitchM3>
                                                <MudTextM3 Typo="TypoM3.Body" Style="padding-left: 4em;" Align="Align.Justify">
                                                    Deaderpool's MC Command Center is a mod that adds greater control to your Sims 4 game experience and NPC story progression options.
                                                    If I find that you don't have it, I'll help you get it.
                                                </MudTextM3>
                                                <MudLink Href="https://plumbbuddy.app/redirect?to=LearnAboutMCCommandCenter" Target="_blank" Style="padding-left: 4em;">Learn more about MC Command Center</MudLink>
                                            </MudSection>
                                            <MudSection Row="3" Column="1">
                                                <MudImage Src="/img/TwistedMexiLogo.png" ObjectFit="ObjectFit.Contain" Width="110" Style="margin: auto; padding-right: 10px;" />
                                            </MudSection>
                                            <MudSection Row="3" Column="2" ColSpan="5" Style="height: auto;">
                                                <MudSwitchM3 @bind-Value="@ScanForMissingModGuard" Color="Color.Primary" ThumbIcon="@MaterialDesignIcons.Normal.Security" ThumbOffIcon="@MaterialDesignIcons.Normal.ShieldOff">
                                                    I'm concerned about safety when it comes to mods.
                                                </MudSwitchM3>
                                                <MudTextM3 Typo="TypoM3.Body" Style="padding-left: 4em;" Align="Align.Justify">
                                                    TwistedMexi's ModGuard blocks common virus vectors, tracks the mod file that attempted to download it, notifies you, and communicates the mod name back to TwistedMexi so compromised modder accounts can be notified as soon as possible.
                                                    If I find that you don't have it, I'll help you get it.
                                                </MudTextM3>
                                                <MudLink Href="https://plumbbuddy.app/redirect?to=ModGuard" Target="_blank" Style="padding-left: 4em;">Learn more about Mod Guard</MudLink>
                                            </MudSection>
                                        </MudPage>
                                    </MudItem>
                                </MudGrid>
                            }
                            else
                            {
                                <MudTextM3 Typo="TypoM3.Title" Align="Align.Center">
                                    Alright, Chief. I heard you, loud and clear. 🫡
                                </MudTextM3>
                                <MudTextM3 Typo="TypoM3.Headline" Align="Align.Center">
                                    For what issues should I get your attention?
                                </MudTextM3>
                                <MudGrid Justify="Justify.Center" Class="mb-4">
                                    <MudItem xs="10">
                                        <ScansToggler @bind-ScanForCacheStaleness="@ScanForCacheStaleness" @bind-ScanForErrorLogs="@ScanForErrorLogs" @bind-ScanForInvalidModSubdirectoryDepth="@ScanForInvalidModSubdirectoryDepth" @bind-ScanForInvalidScriptModSubdirectoryDepth="@ScanForInvalidScriptModSubdirectoryDepth" @bind-ScanForLoose7ZipArchives="@ScanForLoose7ZipArchives" @bind-ScanForLooseRarArchives="@ScanForLooseRarArchives" @bind-ScanForLooseZipArchives="@ScanForLooseZipArchives" @bind-ScanForMissingBe="@ScanForMissingBe" @bind-ScanForMissingDependency="@ScanForMissingDependency" @bind-ScanForMissingMccc="@ScanForMissingMccc" @bind-ScanForMissingModGuard="@ScanForMissingModGuard" @bind-ScanForModsDisabled="@ScanForModsDisabled" @bind-ScanForMultipleModVersions="@ScanForMultipleModVersions" @bind-ScanForMutuallyExclusiveMods="@ScanForMutuallyExclusiveMods" @bind-ScanForScriptModsDisabled="@ScanForScriptModsDisabled" @bind-ScanForShowModsListAtStartupEnabled="@ScanForShowModsListAtStartupEnabled" />
                                    </MudItem>
                                </MudGrid>
                            }
                        </ChildContent>
                    </MudStepExtended>
                </ChildContent>
            </MudStepperExtended>
        </DialogContent>
    </MudDialog>
</MudLoading>