@inject ISettings Settings

<style>
    .mud-dialog {
        border-top-left-radius: var(--mud-default-borderradius);
        border-top-right-radius: var(--mud-default-borderradius);
    }

    .mud-dialog-title {
        display: none !important;
    }

    .mud-tab-slider {
        display: none !important;
    }

    .custom-active-tab {
        background-color: var(--mud-palette-surface);
        color: var(--mud-palette-primary) !important;
    }

        .custom-active-tab:hover {
            color: var(--mud--palette-primary-text) !important;
        }
</style>

<MudStack>
    <MudTabs @ref="@tabs" Color="Color.Primary" Border="false" ActiveTabClass="custom-active-tab" ApplyEffectsToContainer="true" KeepPanelsAlive="true" PanelClass="pa-6" SliderAnimation="false">
        <MudTabPanel Text="General" Icon="@MaterialDesignIcons.Normal.Cog">
            <MudStack Class="ma-4">
                <MudSelect T="UserType" @bind-Value="@Type" Class="text-field label-background-transparent" Label="User Type" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter">
                    <MudSelectItem Value="@UserType.Casual">Casual Player</MudSelectItem>
                    <MudSelectItem Value="@UserType.Enthusiast">Enthusiast Player</MudSelectItem>
                    <MudSelectItem Value="@UserType.Creator">Mod Creator</MudSelectItem>
                </MudSelect>
                @if (Type is UserType.Creator)
                {
                    <ChipSetField @ref="@defaultCreatorsChipSetField" @bind-Values="@defaultCreators" Color="Color.Primary" Label="Default Creators" AdornmentIcon="@MaterialDesignIcons.Normal.AccountGroup" AdornmentColor="Color.Primary" ChipIcon="@MaterialDesignIcons.Normal.Account" Placeholder="Enter a creator name here and press enter" HelperText="This is the creators list I will pre-fill-in for you when you're manifesting a mod for the first time." />
                }
                <MudTooltip Arrow Color="Color.Primary" Text="Don't worry, I won't download or install anything without your consent. I'll just let you know when an update for me is available.">
                    <MudSwitchM3 @bind-Value="@AutomaticallyCheckForUpdates" Color="Color.Primary" ThumbIcon="@MaterialDesignIcons.Normal.Update">Automatically check for updates</MudSwitchM3>
                </MudTooltip>
                <MudTooltip Arrow Color="Color.Primary" Text="This is a package file that lets Mod Creators know what I know about your manifested mods. It's basically the modder equivalent of my Catalog tab. They can use this information to improve your experience in the game, not violate your privacy.">
                    <MudSwitchM3 @bind-Value="@GenerateGlobalManifestPackage" Color="Color.Primary" ThumbIcon="@MaterialDesignIcons.Normal.InvoiceList">Generate global manifest package</MudSwitchM3>
                </MudTooltip>
            </MudStack>
        </MudTabPanel>
        <MudTabPanel Text="Theme" Icon="@MaterialDesignIcons.Normal.ThemeLightDark">
            <div class="mx-n6 my-n2 px-6 py-2 overflow-y-auto" style="max-height: calc(100vh - 210px);">
                <ThemeSelector @ref="@themeSelector" />
            </div>
        </MudTabPanel>
        <MudTabPanel Text="Folders" Icon="@MaterialDesignIcons.Normal.Folder">
            <div class="mt-8">
                <FoldersSelector @ref="@foldersSelector" @bind-DownloadsFolderPath="@DownloadsFolderPath" @bind-InstallationFolderPath="@InstallationFolderPath" @bind-UserDataFolderPath="@UserDataFolderPath" />
            </div>
        </MudTabPanel>
        <MudTabPanel Text="Scans" Icon="@MaterialDesignIcons.Normal.CubeScan">
            <MudGrid Justify="Justify.Center">
                <MudItem xs="10">
                    <ScansToggler @bind-ScanForCacheStaleness="@ScanForCacheStaleness" @bind-ScanForErrorLogs="@ScanForErrorLogs" @bind-ScanForInvalidModSubdirectoryDepth="@ScanForInvalidModSubdirectoryDepth" @bind-ScanForInvalidScriptModSubdirectoryDepth="@ScanForInvalidScriptModSubdirectoryDepth" @bind-ScanForLoose7ZipArchives="@ScanForLoose7ZipArchives" @bind-ScanForLooseRarArchives="@ScanForLooseRarArchives" @bind-ScanForLooseZipArchives="@ScanForLooseZipArchives" @bind-ScanForMissingBe="@ScanForMissingBe" @bind-ScanForMissingDependency="@ScanForMissingDependency" @bind-ScanForMissingMccc="@ScanForMissingMccc" @bind-ScanForMissingModGuard="@ScanForMissingModGuard" @bind-ScanForModsDisabled="@ScanForModsDisabled" @bind-ScanForMultipleModVersions="@ScanForMultipleModVersions" @bind-ScanForMutuallyExclusiveMods="@ScanForMutuallyExclusiveMods" @bind-ScanForScriptModsDisabled="@ScanForScriptModsDisabled" @bind-ScanForShowModsListAtStartupEnabled="@ScanForShowModsListAtStartupEnabled" />
                </MudItem>
            </MudGrid>
        </MudTabPanel>
    </MudTabs>
    <MudGrid Justify="Justify.FlexEnd" Class="pa-2">
        <MudButton OnClick="CancelOnClickHandler">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="OkOnClickHandlerAsync" Class="ml-2">Ok</MudButton>
    </MudGrid>
</MudStack>