@implements IDisposable
@inject IDialogService DialogService
@inject IMarkupLocalizer<AppText> MarkupLocalizer
@inject IModsDirectoryCataloger ModsDirectoryCataloger
@inject IDbContextFactory<PbDbContext> PbDbContextFactory
@inject IPlatformFunctions PlatformFunctions
@inject ISettings Settings
@inject IStringLocalizer<AppText> StringLocalizer

<style>
	.mud-dialog:has(div.settings-dialog-stack) {
		border-top-left-radius: var(--mud-default-borderradius);
		border-top-right-radius: var(--mud-default-borderradius);
	}

	.mud-dialog:has(div.settings-dialog-stack) .mud-dialog-title {
		display: none !important;
	}

	.mud-dialog:has(div.settings-dialog-stack) .custom-active-tab {
		background-color: var(--mud-palette-surface);
		color: var(--mud-palette-primary) !important;
	}

	.mud-dialog:has(div.settings-dialog-stack) .custom-active-tab:hover {
		color: var(--mud--palette-primary-text) !important;
	}
</style>

<MudStack Class="settings-dialog-stack">
	<MudTabs @ref="@tabs" @bind-ActivePanelIndex="ActivePanelIndex" Color="Color.Primary" Border="false" ActiveTabClass="custom-active-tab" ApplyEffectsToContainer KeepPanelsAlive PanelClass="pa-6" SliderAnimation="false">
		<MudTabPanel Text="@StringLocalizer[nameof(AppText.SettingsDialog_General_Label)]" Icon="@MaterialDesignIcons.Normal.Cog">
			<MudStack Class="ma-4">
				<MudField Label="@(AppText.UserTypeSelector_Label)" Variant="Variant.Filled">
					<MudRadioGroup @bind-Value="@Type">
						<MudRadio Value="@UserType.Casual" Color="Color.Primary">
							@MarkupLocalizer[nameof(AppText.UserTypeSelector_CasualPlayer_Label)]
						</MudRadio>
						<MudRadio Value="@UserType.Enthusiast" Color="Color.Secondary">
							@MarkupLocalizer[nameof(AppText.UserTypeSelector_EnthusiastPlayer_Label)]
						</MudRadio>
						<MudRadio Value="@UserType.Creator" Color="Color.Tertiary">
							@MarkupLocalizer[nameof(AppText.UserTypeSelector_ModCreator_Label)]
						</MudRadio>
					</MudRadioGroup>
				</MudField>
				@if (Type is UserType.Creator)
				{
					<ChipSetField @ref="@defaultCreatorsChipSetField" @bind-Values="@defaultCreators" Color="Color.Tertiary" Label="@StringLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_DefaultCreators_Label)]" AdornmentIcon="@MaterialDesignIcons.Normal.AccountGroup" AdornmentColor="Color.Tertiary" ChipIcon="@MaterialDesignIcons.Normal.Account" Placeholder="@StringLocalizer[nameof(AppText.ManifestEditor_Details_Creators_Placeholder)]" HelperText="@StringLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_DefaultCreators_HelperText)]" />
				}
				<MudTooltip Arrow Color="Color.Primary" Text="@StringLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_AutomaticallyCheckForUpdates_Tip)]">
					<MudSwitchM3 @bind-Value="@AutomaticallyCheckForUpdates" Color="Color.Primary" ThumbIcon="@MaterialDesignIcons.Normal.Update">
						@MarkupLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_AutomaticallyCheckForUpdates_Label)]
					</MudSwitchM3>
				</MudTooltip>
				<MudTooltip Arrow Color="Color.Primary" Text="@StringLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_OfferPatchDayModUpdatesHelp_Tip)]">
					<MudSwitchM3 @bind-Value="@OfferPatchDayModUpdatesHelp" Color="Color.Primary" ThumbIcon="@MaterialDesignIcons.Normal.Newspaper">
						@MarkupLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_OfferPatchDayModUpdatesHelp_Label)]
					</MudSwitchM3>
				</MudTooltip>
                <MudTooltip Arrow Color="Color.Primary" Text="@StringLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_GenerateGlobalManifestPackage_Tip)]">
                    <MudSwitchM3 @bind-Value="@GenerateGlobalManifestPackage" Color="Color.Primary" ThumbIcon="@MaterialDesignIcons.Normal.AccessPointNetwork" Disabled="@(modsDirectoryCatalogerState is not ModsDirectoryCatalogerState.Idle)">
						@MarkupLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_GenerateGlobalManifestPackage_Label)]
					</MudSwitchM3>
				</MudTooltip>
				@if (DeviceInfo.Current.Platform == DevicePlatform.WinUI)
				{
					<MudTooltip Arrow Color="Color.Primary" Text="@StringLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_ShowSystemTrayIcon_Tip)]">
						<MudSwitchM3 @bind-Value="@ShowSystemTrayIcon" Color="Color.Primary" ThumbIcon="@MaterialDesignIcons.Normal.ChevronUp">
							@MarkupLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_ShowSystemTrayIcon_Label)]
						</MudSwitchM3>
					</MudTooltip>
				}
				@if (PlatformFunctions.ProcessorsHavePerformanceVarianceAndConfigurableAffinity && Type is not UserType.Casual)
				{
					<MudTooltip Arrow Color="Color.Secondary" Text="@StringLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_ForceGameProcessPerformanceProcessorAffinity_Tip)]">
						<MudSwitchM3 @bind-Value="@ForceGameProcessPerformanceProcessorAffinity" Color="Color.Secondary" ThumbIcon="@MaterialDesignIcons.Normal.LightningBolt" ThumbOffIcon="@MaterialDesignIcons.Normal.Leaf">
							@MarkupLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_ForceGameProcessPerformanceProcessorAffinity_Label)]
						</MudSwitchM3>
					</MudTooltip>
				}
				@if (Type is UserType.Creator)
				{
					<MudTooltip Arrow Color="Color.Tertiary" Text="@AppText.OnboardingDialog_PlumbBuddy_AutomaticallyCatalogOnComposition_Tip">
						<MudSwitchM3 @bind-Value="@AutomaticallyCatalogOnComposition" Color="Color.Tertiary" ThumbIcon="@MaterialDesignIcons.Normal.FileSign">
							@StringLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_AutomaticallyCatalogOnComposition_Label)]
						</MudSwitchM3>
					</MudTooltip>
					<MudTooltip Arrow Color="Color.Tertiary" Text="@(AppText.OnboardingDialog_PlumbBuddy_AutomaticallySubsumeIdenticallyCreditedSingleFileModsWhenInitializingAManifest_Tip)">
						<MudSwitchM3 @bind-Value="@AutomaticallySubsumeIdenticallyCreditedSingleFileModsWhenInitializingAManifest" Color="Color.Tertiary" ThumbIcon="@MaterialDesignIcons.Normal.AutoMode">
							@StringLocalizer[nameof(AppText.OnboardingDialog_PlumbBuddy_AutomaticallySubsumeIdenticallyCreditedSingleFileModsWhenInitializingAManifest_Label)]
						</MudSwitchM3>
					</MudTooltip>
				}
			</MudStack>
		</MudTabPanel>
		<MudTabPanel Text="@StringLocalizer[nameof(AppText.OnboardingDialog_Theme_Label)]" Icon="@MaterialDesignIcons.Normal.ThemeLightDark">
			<div class="mx-n6 my-n2 px-6 py-2">
				<MudStack>
					<MudField Adornment="Adornment.Start" AdornmentIcon="@MaterialDesignIcons.Normal.Resize" Class="flex-grow-1" HelperText="@(AppText.SettingsDialog_UIZoom_HelperText)" Label="@(AppText.SettingsDialog_UIZoom_Label)" Variant="Variant.Filled">
						<MudStack AlignItems="AlignItems.Center" Row Spacing="0">
							<MudSlider T="decimal" @bind-Value="UiZoom" Min="0.25M" Max="4" Step="0.05M" Size="Size.Medium" Variant="Variant.Filled">
								<input type="number" @bind-value="UiZoomPercent" min="25" max="400" step="5" class="plain-numeric" />
							</MudSlider>
							<MudTooltip Arrow Text="@AppText.SettingsDialog_ModHound_Retention_Default_Tip">
								<MudIconButton Icon="@MaterialDesignIcons.Normal.EyeRefresh" OnClick="HandleSetUiZoomDefault" />
							</MudTooltip>
						</MudStack>
					</MudField>
					<ThemeSelector @ref="@themeSelector" />
				</MudStack>
			</div>
		</MudTabPanel>
		<MudTabPanel Text="@StringLocalizer[nameof(AppText.OnboardingDialog_Folders_Label)]" Icon="@MaterialDesignIcons.Normal.Folder">
			<div class="mt-8">
				<FoldersSelector @ref="@foldersSelector" @bind-ArchiveFolderPath="@ArchiveFolderPath" @bind-DownloadsFolderPath="@DownloadsFolderPath" @bind-InstallationFolderPath="@InstallationFolderPath" @bind-UserDataFolderPath="@UserDataFolderPath" />
			</div>
		</MudTabPanel>
		<MudTabPanel Text="@StringLocalizer[nameof(AppText.OnboardingDialog_ModHealth_Label)]" Icon="@MaterialDesignIcons.Normal.BottleTonicPlus">
			<MudGrid Justify="Justify.Center">
				<MudItem xs="10">
					<ScansToggler @bind-ScanForCacheStaleness="@ScanForCacheStaleness" @bind-ScanForCorruptMods="@ScanForCorruptMods" @bind-ScanForCorruptScriptMods="@ScanForCorruptScriptMods" @bind-ScanForErrorLogs="@ScanForErrorLogs" @bind-ScanForInvalidModSubdirectoryDepth="@ScanForInvalidModSubdirectoryDepth" @bind-ScanForInvalidScriptModSubdirectoryDepth="@ScanForInvalidScriptModSubdirectoryDepth" @bind-ScanForLoose7ZipArchives="@ScanForLoose7ZipArchives" @bind-ScanForLooseRarArchives="@ScanForLooseRarArchives" @bind-ScanForLooseZipArchives="@ScanForLooseZipArchives" @bind-ScanForMismatchedInscribedHashes="@ScanForMismatchedInscribedHashes" @bind-ScanForMissingBe="@ScanForMissingBe" @bind-ScanForMissingDependency="@ScanForMissingDependency" @bind-ScanForMissingMccc="@ScanForMissingMccc" @bind-ScanForMissingModGuard="@ScanForMissingModGuard" @bind-ScanForModsDisabled="@ScanForModsDisabled" @bind-ScanForMultipleModVersions="@ScanForMultipleModVersions" @bind-ScanForMutuallyExclusiveMods="@ScanForMutuallyExclusiveMods" @bind-ScanForScriptModsDisabled="@ScanForScriptModsDisabled" @bind-ScanForShowModsListAtStartupEnabled="@ScanForShowModsListAtStartupEnabled" />
				</MudItem>
			</MudGrid>
		</MudTabPanel>
		<MudTabPanel Text="@AppText.Home_ModHound_Label" Icon="@MaterialDesignIcons.Normal.Dog">
			<MudStack Class="ma-4">
				<MudField Adornment="Adornment.Start" AdornmentIcon="@MaterialDesignIcons.Normal.ContentSaveSettings" HelperText="@AppText.SettingsDialog_ModHound_Retention_HelperText" Label="@AppText.SettingsDialog_ModHound_Retention_Label" Variant="Variant.Filled">
					<MudStack AlignItems="AlignItems.Center" Row Spacing="0">
						<MudSlider T="long" @bind-NullableValue="ModHoundReportRetentionPeriodTicks" Min="1728000000000" Max="72576000000000" Size="Size.Medium" Variant="Variant.Filled">
							@if (ModHoundReportRetentionPeriodTicks is { } modHoundReportRetentionPeriodTicks)
							{
								<MudTextM3>
									@(new TimeSpan(modHoundReportRetentionPeriodTicks).Humanize(3))
								</MudTextM3>
							}
							else
							{
								<MudTextM3>
									@StringLocalizer[nameof(AppText.Common_Indefinite)]
								</MudTextM3>
							}
						</MudSlider>
						<MudTooltip Arrow Text="@AppText.SettingsDialog_ModHound_Retention_Indefinite_Tip">
							<MudIconButton Class="ml-2" Icon="@MaterialDesignIcons.Normal.Infinity" OnClick="HandleSetModHoundReportRetentionPeriodIndefinite" />
						</MudTooltip>
						<MudTooltip Arrow Text="@AppText.SettingsDialog_ModHound_Retention_Default_Tip">
							<MudIconButton Icon="@MaterialDesignIcons.Normal.TimerRefresh" OnClick="HandleSetModHoundReportRetentionPeriodDefault" />
						</MudTooltip>
					</MudStack>
				</MudField>
				<MudField Adornment="Adornment.Start" AdornmentIcon="@MaterialDesignIcons.Normal.PackageVariantClosedMinus" HelperText="@AppText.SettingsDialog_ModHound_PackagesExclusionMode_HelperText" Label="@AppText.SettingsDialog_ModHound_PackagesExclusionMode_Label" Variant="Variant.Filled">
					<MudRadioGroup @bind-Value="@ModHoundExcludePackagesMode">
						<MudRadio Value="@ModHoundExcludePackagesMode.StartsWith" Color="Color.Primary">
							@StringLocalizer[nameof(AppText.SettingsDialog_ModHound_PackagesExclusionMode_StartsWith_Label)]
						</MudRadio>
						@if (Type is not UserType.Casual)
						{
							<MudRadio Value="@ModHoundExcludePackagesMode.Patterns" Color="Color.Secondary">
								@StringLocalizer[nameof(AppText.SettingsDialog_ModHound_PackagesExclusionMode_Patterns_Label)]
							</MudRadio>
						}
					</MudRadioGroup>
				</MudField>
				<ChipSetField @ref="@modHoundPackagesExclusionsChipSetField" @bind-Values="@ModHoundPackagesExclusions" Color="Color.Primary" Label="@AppText.SettingsDialog_ModHound_PackagesExclusions_Label" AdornmentIcon="@MaterialDesignIcons.Normal.TestTube" ChipIcon="@MaterialDesignIcons.Normal.EyeOff" Placeholder="@AppText.SettingsDialog_ModHound_PackagesExclusions_Placeholder" HelperText="@AppText.SettingsDialog_ModHound_PackagesExclusions_HelperText" />
				<MudAlert Severity="Severity.Info">
					@StringLocalizer[nameof(AppText.SettingsDialog_ModHound_PackagesExclusions_EUA)]
				</MudAlert>
				@if (ModHoundPackagesBatchYieldIncluded is { } batchYieldIncluded && ModHoundPackagesBatchYieldExcluded is { } batchYieldExcluded)
				{
					<MudStack Row>
						<MudNumericField Adornment="Adornment.Start" AdornmentColor="@(batchYieldIncluded > 26000 ? Color.Error : batchYieldIncluded > 5000 ? Color.Warning : Color.Success)" AdornmentIcon="@MaterialDesignIcons.Normal.PackageVariantClosedPlus" HideSpinButtons ReadOnly Label="@AppText.SettingsDialog_ModHound_PackagesIncluded_Label" Value="@batchYieldIncluded" />
						<MudNumericField Adornment="Adornment.Start" AdornmentIcon="@MaterialDesignIcons.Normal.PackageVariantClosedMinus" HideSpinButtons ReadOnly Label="@AppText.SettingsDialog_ModHound_PackagesExcluded_Label" Value="@batchYieldExcluded" />
					</MudStack>
				}
			</MudStack>
		</MudTabPanel>
    </MudTabs>
    <MudStack Row Justify="Justify.FlexEnd" AlignItems="AlignItems.Center" Class="pa-2">
		@if (ActivePanelIndex is 2)
		{
			<MudTooltip Arrow Text="@(AppText.Tooltip_GuideLink)" Color="Color.Info">
				<MudIconButton Href="@($"https://plumbbuddy.app/redirect?to=PlumbBuddyInAppGuideFolders{Type}")" Icon="@MaterialDesignIcons.Outline.HelpCircle" Color="Color.Info" Class="mt-n7 mb-n6" />
			</MudTooltip>
		}
		else if (ActivePanelIndex is 3)
		{
			<MudTooltip Arrow Text="@(AppText.Tooltip_GuideLink)" Color="Color.Info">
				<MudIconButton Href="@($"https://plumbbuddy.app/redirect?to=PlumbBuddyInAppGuideModHealth{Type}")" Icon="@MaterialDesignIcons.Outline.HelpCircle" Color="Color.Info" Class="mt-n7 mb-n6" />
			</MudTooltip>
		}
		else if (ActivePanelIndex is 4)
		{
			<MudTooltip Arrow Text="@(AppText.Tooltip_GuideLink)" Color="Color.Info">
				<MudIconButton Href="@($"https://plumbbuddy.app/redirect?to=PlumbBuddyInAppGuideModHound{Type}")" Icon="@MaterialDesignIcons.Outline.HelpCircle" Color="Color.Info" Class="mt-n7 mb-n6" />
			</MudTooltip>
		}
		<MudButton OnClick="CancelOnClickHandler">
            @MarkupLocalizer[nameof(AppText.Common_Cancel)]
        </MudButton>
        <MudButton Color="Color.Primary" OnClick="OkOnClickHandlerAsync" Class="ml-2">
            @MarkupLocalizer[nameof(AppText.Common_Ok)]
        </MudButton>
    </MudStack>
</MudStack>