@inherits ReactiveComponentBase
@inject IArchivist Archivist
@inject IDialogService DialogService
@inject IMarkupLocalizer<AppText> MarkupLocalizer
@inject IPlatformFunctions PlatformFunctions
@inject ISettings Settings
@inject IStringLocalizer<AppText> StringLocalizer

<div id="archivist-ingesting-animation" class="absolute fade-container" style="z-index: -10; top: 0; left: 0; width: 100vw; height: 100vw; @(Observed(() => Archivist.State) is ArchivistState.Ingesting ? "opacity: 0.35;" : "opacity: 0;")"></div>
<script type="module">
	lottie.loadAnimation({
	container: document.getElementById('archivist-ingesting-animation'),
	renderer: 'svg',
	loop: true,
	autoplay: true,
	path: 'json/archivist-ingesting.json'
	});
</script>
<MudGrid Class="align-center">
	<MudItem xs="2">
		<MudPaper Outlined Class="px-4 py-2">
			<MudStack Row Justify="Justify.Center" AlignItems="AlignItems.Center">
				<MudTooltip Color="Color.Secondary" Text="If this switch is flipped, I will connect to the Archive folder you have configured in Settings.">
					<MudSwitchM3 @bind-Value="@Binding(() => Settings.ArchivistEnabled).Value" Color="Color.Secondary" ThumbIcon="@MaterialDesignIcons.Normal.Archive" ThumbOffIcon="@MaterialDesignIcons.Normal.ArchiveOff" Disabled="@(!Observed(() => Archivist.CanIngest))" />
				</MudTooltip>
				<MudTooltip Color="Color.Secondary" Text="@(Observed(() => Archivist.CanIngest) ? "If I'm enabled and this switch is flipped, I will secure every save your game writes, whether through normal game operation or mod features like MC Command Center Auto Save, in my library from which you can review them, restore them, and set your own customizations for them." : "For your safety, I cannot currently secure your save files for you because my method of reading save files created by this version of The Sims 4 has not been tested. Hopefully, an update for me is already available (or will be soon) that can safely read your save files.")">
					<MudSwitchM3 @bind-Value="@Binding(() => Settings.ArchivistAutoIngestSaves).Value" Color="Color.Secondary" ThumbIcon="@MaterialDesignIcons.Normal.Autorenew" ThumbOffIcon="@MaterialDesignIcons.Normal.AutorenewOff" Disabled="@(!Observed(() => Archivist.CanIngest) || !Observed(() => Settings.ArchivistEnabled))" />
				</MudTooltip>
			</MudStack>
		</MudPaper>
	</MudItem>
	<MudItem xs="8">
		<MudStack Row Justify="Justify.Center" AlignItems="AlignItems.Center">
			@if (Observed(() => Archivist.State) is ArchivistState.AwaitingModCataloging)
			{
				<MudTooltip Color="Color.Secondary" Text="Since I want to correctly capture your mod list in snapshots, I'm waiting for mod cataloging to finish.">
					<MudBadge Overlap Icon="@MaterialDesignIcons.Normal.PackageVariant" Origin="Origin.TopRight" Color="Color.Primary">
						<MudIcon Icon="@MaterialDesignIcons.Normal.PauseOctagon" Color="Color.Secondary" Style="font-size: 40px;" />
					</MudBadge>
				</MudTooltip>
			}
			else if (Observed(() => Archivist.State) is ArchivistState.Ingesting)
			{
				<MudProgressLinear Color="Color.Secondary" Indeterminate Rounded Size="Size.Large" />
			}
			else if (Observed(() => Settings.ArchivistEnabled))
			{
				if (Observed(() => Settings.ArchivistAutoIngestSaves))
				{
					if (Observed(() => Archivist.CanIngest))
					{
						<MudTooltip Color="Color.Secondary" Text="I'm done archiving your save files.">
							<MudIcon Icon="@MaterialDesignIcons.Normal.ContentSaveCheck" Color="Color.Secondary" Style="font-size: 40px; margin-top: 6px;" />
						</MudTooltip>
					}
					else
					{
						<MudTooltip Color="Color.Secondary" Text="For your safety, I cannot currently secure your save files for you because my method of reading save files created by this version of The Sims 4 has not been tested. Hopefully, an update for me is already available (or will be soon) that can safely read your save files.">
							<MudIcon Icon="@MaterialDesignIcons.Normal.ContentSaveAlert" Color="Color.Secondary" Class="mt-1" Style="font-size: 40px;" />
						</MudTooltip>
						<MudTooltip Arrow Color="Color.Secondary" Text="Check for Update">
							<MudIconButton Variant="Variant.Filled" Color="Color.Secondary" Icon="@MaterialDesignIcons.Normal.Update" />
						</MudTooltip>
					}
				}
				else
				{
					<MudIcon Icon="@MaterialDesignIcons.Normal.ContentSave" Color="Color.Secondary" Style="font-size: 40px;" />
				}
			}
			else
			{
				<MudTooltip Color="Color.Secondary" Text="I'm idle at the moment since you have me switched off.">
					<MudIcon Icon="@MaterialDesignIcons.Normal.ContentSaveOff" Style="font-size: 40px; margin-top: 6px; opacity: .35;" />
				</MudTooltip>
			}
		</MudStack>
	</MudItem>
	<MudItem xs="2">
		<MudTextField @bind-Value="@ChroniclesSearchText" Variant="Variant.Filled" Label="Search Chronicles" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" ShrinkLabel Immediate Clearable DebounceInterval="250" Style="background-color: var(--mud-palette-surface);" />
	</MudItem>
	<MudFlexBreak />
	<MudItem xs="4">
		<div class="chronicle-list overflow-y-auto rounded mud-paper-outlined">
			<MudList T="Chronicle" @bind-SelectedValue="@(Binding(() => Archivist.SelectedChronicle).Value)" Color="Color.Secondary">
				@foreach (var chronicle in ObservedCollection(() => Archivist.Chronicles).Where(IncludeChronicle).OrderByDescending(c => c.LastUpdated))
				{
					<MudListItem T="Chronicle" Value="@chronicle" Text="@Observed(() => chronicle.Name)" SecondaryText="@($"{Observed(() => chronicle.LastUpdated):g} - {"snapshot".ToQuantity(Observed(() => chronicle.SnapshotCount))}")" Icon="@MaterialDesignIcons.Normal.Altimeter" IconColor="Color.Secondary" />
				}
			</MudList>
		</div>
	</MudItem>
	<MudItem xs="8">
		<div class="chronicle-details overflow-y-auto rounded mud-paper-outlined pa-4">
			@if (Archivist.SelectedChronicle is { } selectedChronicle)
			{
				if (Observed(() => Archivist.State) is ArchivistState.Ingesting && isEditingChronicle)
				{
					isEditingChronicle = false;
				}
				<div class="d-flex gap-4 align-start">
					@if (!isEditingChronicle && Observed(() => selectedChronicle.ThumbnailUri) is { } thumbnailUri && !string.IsNullOrWhiteSpace(thumbnailUri))
					{
						<MudImage Src="@thumbnailUri" Class="flex-shrink-1" Style="max-width: 180px; max-height: 120px;" />
					}
					<MudStack Spacing="1" Class="flex-grow-1">
						@if (isEditingChronicle)
						{
							<MudTextField @bind-Value="@Binding(() => selectedChronicle.Name).Value" Variant="Variant.Filled" Label="Name" AdornmentIcon="@MaterialDesignIcons.Normal.Label" Adornment="Adornment.Start" />
							<MudTextField @bind-Value="@Binding(() => selectedChronicle.Notes).Value" Variant="Variant.Filled" Label="Notes" Lines="5" AdornmentIcon="@MaterialDesignIcons.Normal.Note" Adornment="Adornment.Start" Clearable />
							<MudField Label="Custom Thumbnail" Variant="Variant.Filled">
								<MudStack Spacing="1">
									@if (Observed(() => selectedChronicle.ThumbnailUri) is { } thumbnailUri && !string.IsNullOrWhiteSpace(thumbnailUri))
									{
										<MudImage Src="@thumbnailUri" Style="max-width: 180px; max-height: 120px;" />
									}
									<MudStack Row>
										<MudButton OnClick="@(new Func<Task>(() => selectedChronicle.BrowseForCustomThumbnailAsync(DialogService)))" StartIcon="@MaterialDesignIcons.Normal.FolderOpen" Variant="Variant.Filled">
											Browse...
										</MudButton>
										@if (Observed(() => selectedChronicle.ThumbnailUri) is { } thumbnailUri && !string.IsNullOrWhiteSpace(thumbnailUri))
										{
											<MudIconButton Icon="@MaterialDesignIcons.Normal.Eraser" OnClick="selectedChronicle.ClearThumbnailAsync" Variant="Variant.Filled" />
										}
									</MudStack>
								</MudStack>
							</MudField>
						}
						else
						{
							<MudTextM3 Typo="TypoM3.Headline" Align="Align.Center">
								@(Observed(() => selectedChronicle.Name))
							</MudTextM3>
							<MudMarkdown Value="@(Observed(() => selectedChronicle.Notes))" />
						}
						@if (selectedChronicle.BasedOnSnapshot is { } basedOnSnapshot)
						{
							<MudField Adornment="Adornment.Start" AdornmentIcon="@MaterialDesignIcons.Normal.CallSplit" Label="Based on" Variant="Variant.Filled">
								<MudBreadcrumbs Items="@(new List<BreadcrumbItem> { new BreadcrumbItem(Observed(() => basedOnSnapshot.Chronicle.Name), "javascript:void(0)", icon: MaterialDesignIcons.Normal.Altimeter), new BreadcrumbItem($"{Observed(() => basedOnSnapshot.Label)} ({Observed(() => basedOnSnapshot.LastWriteTime):g})", "javascript:void(0)", icon: MaterialDesignIcons.Normal.Timeline) })" Class="pa-0" />
							</MudField>
						}
					</MudStack>
					<MudStack Spacing="0">
						<MudTooltip Arrow Placement="Placement.Left" Text="Edit this Chronicle's Details" Disabled="@(Observed(() => Archivist.State) is ArchivistState.Ingesting)">
							<MudToggleIconButton @bind-Toggled="@isEditingChronicle" Icon="@MaterialDesignIcons.Normal.Pencil" ToggledIcon="@MaterialDesignIcons.Normal.Check" />
						</MudTooltip>
						<MudTooltip Arrow Color="Color.Warning" Placement="Placement.Left" Text="Show this Chronicle's Database">
							<MudIconButton Color="Color.Warning" Icon="@MaterialDesignIcons.Normal.DatabaseSearch" OnClick="@(new Func<MouseEventArgs, Task>(e => ShowChronicleDatabaseAsync(selectedChronicle)))" />
						</MudTooltip>
					</MudStack>
				</div>
				<MudGrid Justify="Justify.Center" Spacing="1">
					<MudItem xs="12">
						<MudTable T="Snapshot" Items="@(ObservedCollection(() => selectedChronicle.Snapshots).OrderByDescending(s => s.LastWriteTime))" Breakpoint="Breakpoint.Md" Dense Filter="IncludeSnapshot" Class="mt-2">
							<ToolBarContent>
								<MudTextM3 Typo="TypoM3.Title" Style="width: 80%;">Snapshots</MudTextM3>
								<MudSpacer />
								<MudTextField @bind-Value="@snapshotsTextSearch" Placeholder="@StringLocalizer[nameof(AppText.Common_Search)]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Immediate Clearable DebounceInterval="250" Class="mt-0" />
							</ToolBarContent>
							<RowTemplate>
								<MudTd>
									<MudStack Row AlignItems="AlignItems.Center">
										<MudTooltip Arrow Text="View Details about this Snapshot">
											<MudToggleIconButton @bind-Toggled="context.ShowDetails" Icon="@MaterialDesignIcons.Normal.ChevronRight" ToggledIcon="@MaterialDesignIcons.Normal.ChevronDown" Size="Size.Small" />
										</MudTooltip>
										<MudIcon Icon="@MaterialDesignIcons.Normal.Timeline" Size="Size.Small" />
										<span>
											<MudHighlighter Text="@(Observed(() => context.LastWriteTime).ToString("g"))" HighlightedText="@snapshotsTextSearch" />
										</span>
									</MudStack>
								</MudTd>
								<MudTd DataLabel="Label">
									<MudHighlighter Text="@(Observed(() => context.Label))" HighlightedText="@snapshotsTextSearch" />
								</MudTd>
								<MudTd>
									<MudStack Row Justify="Justify.FlexEnd" AlignItems="AlignItems.Center" Spacing="1">
										@if (context.WasLive)
										{
											<MudTooltip Arrow Text="The game had just written the save that is the basis of this snapshot. Click here to search for all Live snapshots.">
												<MudChip T="object" Size="Size.Small" Icon="@MaterialDesignIcons.Normal.GamepadSquare" Class="ma-0" OnClick="@(new Action<MouseEventArgs>(e => snapshotsTextSearch = "Live"))">
													<MudHighlighter Text="Live" HighlightedText="@snapshotsTextSearch" />
												</MudChip>
											</MudTooltip>
										}
										@if (context.ActiveHouseholdName is { } activeHouseholdName)
										{
											<MudTooltip Arrow Text="This is the household you were controlling when this snapshot's save was written. Click here to search for all snapshots during which this was the case.">
												<MudChip T="object" Size="Size.Small" Icon="@MaterialDesignIcons.Normal.Home" Class="ma-0" OnClick="@(new Action<MouseEventArgs>(e => snapshotsTextSearch = activeHouseholdName))">
													<MudHighlighter Text="@activeHouseholdName" HighlightedText="@snapshotsTextSearch" />
												</MudChip>
											</MudTooltip>
										}
										@if (context.LastPlayedLotName is { } lastPlayedLotName)
										{
											<MudTooltip Arrow Text="This is the lot you were on when this snapshot's save was written. Click here to search for all snapshots during which this was the case.">
												<MudChip T="object" Size="Size.Small" Icon="@MaterialDesignIcons.Normal.MapMarker" Class="ma-0" OnClick="@(new Action<MouseEventArgs>(e => snapshotsTextSearch = lastPlayedLotName))">
													<MudHighlighter Text="@lastPlayedLotName" HighlightedText="@snapshotsTextSearch" />
												</MudChip>
											</MudTooltip>
										}
										@if (context.LastPlayedWorldName is { } lastPlayedWorldName)
										{
											<MudTooltip Arrow Text="This is the world you were in when this snapshot's save was written. Click here to search for all snapshots during which this was the case.">
												<MudChip T="object" Size="Size.Small" Icon="@MaterialDesignIcons.Normal.Map" Class="ma-0" OnClick="@(new Action<MouseEventArgs>(e => snapshotsTextSearch = lastPlayedWorldName))">
													<MudHighlighter Text="@lastPlayedWorldName" HighlightedText="@snapshotsTextSearch" />
												</MudChip>
											</MudTooltip>
										}
										<MudTooltip Arrow Text="Restore this Snapshot to The Sims 4 Saves Folder" Color="Color.Secondary">
											<MudIconButton Icon="@MaterialDesignIcons.Normal.FileRestore" Color="Color.Secondary" Size="Size.Small" OnClick="@(new Func<MouseEventArgs, Task>(e => RestoreSavePackageAsync(context)))" />
										</MudTooltip>
										<MudTooltip Arrow Text="Create a New Chronicle by Branching from this Snapshot" Color="Color.Secondary">
											<MudIconButton Icon="@MaterialDesignIcons.Normal.CallSplit" Color="Color.Secondary" Size="Size.Small" OnClick="@(new Func<MouseEventArgs, Task>(e => CreateBranchAsync(context)))" />
										</MudTooltip>
										<MudTooltip Arrow Text="Save this Snapshot in The Sims 4's Format" Color="Color.Secondary">
											<MudIconButton Icon="@MaterialDesignIcons.Normal.FileExport" Color="Color.Secondary" Size="Size.Small" OnClick="@(new Func<MouseEventArgs, Task>(e => ExportSavePackageAsync(context)))" />
										</MudTooltip>
									</MudStack>
								</MudTd>
							</RowTemplate>
							<ChildRowContent>
								@if (context.ShowDetails)
								{
									<MudTr>
										<td colspan="3" class="relative py-4">
											<div class="d-flex gap-4 align-start px-4">
												@if (Observed(() => context.ThumbnailUri) is { Length: > 0 } thumbnailUri)
												{
													<MudImage Src="@thumbnailUri" Style="max-width: 180px; max-height: 120px;" />
												}
												<MudStack Spacing="1" Class="flex-grow-1">
													@if (context.IsEditing)
													{
														<MudTextField @bind-Value="@Binding(() => context.Label).Value" Variant="Variant.Filled" Label="Label" AdornmentIcon="@MaterialDesignIcons.Normal.Label" Adornment="Adornment.Start" />
														<MudTextField @bind-Value="@Binding(() => context.Notes).Value" Variant="Variant.Filled" Label="Notes" Lines="5" AdornmentIcon="@MaterialDesignIcons.Normal.Note" Adornment="Adornment.Start" Clearable />
													}
													else
													{
														<MudTextM3 Typo="TypoM3.Title" Class="mt-2">
															<MudHighlighter Text="@(Observed(() => context.Label))" HighlightedText="@snapshotsTextSearch" />
														</MudTextM3>
														@if (Observed(() => context.Notes) is { } notes && !string.IsNullOrWhiteSpace(notes))
														{
															<div class="manual-markdown">
																<MudHighlighter Text="@(Markdown.Parse(notes).ToHtml())" HighlightedText="@snapshotsTextSearch" Markup />
															</div>
														}
													}
													<MudStack Row>
														@if (context.WasLive)
														{
															<MudButton Variant="Variant.Filled" StartIcon="@MaterialDesignIcons.Outline.InvoiceExport" OnClick="@(new Func<MouseEventArgs, Task>(e => ExportModListAsync(context)))">
																Export Mod List
															</MudButton>
														}
													</MudStack>
												</MudStack>
												<MudStack Spacing="0">
													<MudTooltip Arrow Placement="Placement.Left" Text="Edit this Snapshot's Details">
														<MudToggleIconButton @bind-Toggled="@context.IsEditing" Icon="@MaterialDesignIcons.Normal.Pencil" ToggledIcon="@MaterialDesignIcons.Normal.Check" />
													</MudTooltip>
													<MudTooltip Arrow Placement="Placement.Left" Text="Try to Find this Save in the Saves Folder">
														<MudIconButton Icon="@MaterialDesignIcons.Normal.FileFind" OnClick="@(new Func<MouseEventArgs, Task>(e => ShowSavePackageInSavesDirectoryAsync(context)))" />
													</MudTooltip>
												</MudStack>
											</div>
										</td>
									</MudTr>
								}
							</ChildRowContent>
							<PagerContent>
								<MudTablePager />
							</PagerContent>
						</MudTable>
					</MudItem>
				</MudGrid>
			}
		</div>
	</MudItem>
</MudGrid>
