@implements IDisposable
@inject IMarkupLocalizer<AppText> MarkupLocalizer
@inject IModsDirectoryCataloger ModsDirectoryCataloger
@inject ISettings Settings
@inject ISmartSimObserver SmartSimObserver

@if (Settings.Type is not UserType.Casual && SmartSimObserver.GameVersion is { } gameVersion)
{
    gameVersion = new Version(gameVersion.Major, gameVersion.Minor, gameVersion.Build);
    <MudTooltip Arrow="true">
        <ChildContent>
            <MudChip T="Version" Icon="@MaterialDesignIcons.Normal.TimelineCheck" Value="@gameVersion" />
        </ChildContent>
        <TooltipContent>
            <MudStack Row="true">
                <MudIcon Icon="@MaterialDesignIcons.Normal.TimelineCheck" />
                <MudTextM3 Typo="TypoM3.Title">@MarkupLocalizer[nameof(AppText.HUD_GameVersion_Tip_Caption)]</MudTextM3>
            </MudStack>
            <MudDivider />
            <MudTextM3 Typo="TypoM3.Label" Align="Align.Justify">
                @MarkupLocalizer[nameof(AppText.HUD_GameVersion_Tip_Description)]
            </MudTextM3>
        </TooltipContent>
    </MudTooltip>
}
@if (Settings.Type is not UserType.Casual && ModsDirectoryCataloger.PackageCount > 0)
{
    <MudTooltip Arrow="true">
        <ChildContent>
            <MudChip T="int" Icon="@(SmartSimObserver.IsModsDisabledGameSettingOn ? MaterialDesignIcons.Normal.PackageVariantClosedRemove : MaterialDesignIcons.Normal.PackageVariantClosedCheck)" Value="@ModsDirectoryCataloger.PackageCount" Color="@(SmartSimObserver.IsModsDisabledGameSettingOn ? Color.Warning : Color.Default)" />
        </ChildContent>
        <TooltipContent>
            <MudStack Row="true">
                <MudIcon Icon="@(SmartSimObserver.IsModsDisabledGameSettingOn ? MaterialDesignIcons.Normal.PackageVariantClosedRemove : MaterialDesignIcons.Normal.PackageVariantClosedCheck)" />
                <MudTextM3 Typo="TypoM3.Title">@MarkupLocalizer[nameof(AppText.HUD_Packages_Tip_Caption)]</MudTextM3>
            </MudStack>
            <MudDivider />
            <MudTextM3 Typo="TypoM3.Label" Align="Align.Justify">
                @MarkupLocalizer[nameof(AppText.HUD_Packages_Tip_Description)]
            </MudTextM3>
            @if (SmartSimObserver.IsModsDisabledGameSettingOn)
            {
                <MudDivider />
                <MudTextM3 Typo="TypoM3.Label" Align="Align.Justify" Color="Color.Warning">
                    @MarkupLocalizer[nameof(AppText.HUD_Packages_Tip_Description_ModsDisabled)]
                </MudTextM3>
            }
        </TooltipContent>
    </MudTooltip>
}
@if (Settings.Type is UserType.Creator && ModsDirectoryCataloger.ResourceCount > 0)
{
    <MudTooltip Arrow="true">
        <ChildContent>
            <MudChip T="int" Icon="@(SmartSimObserver.IsModsDisabledGameSettingOn ? MaterialDesignIcons.Normal.FileDocumentRemove : MaterialDesignIcons.Normal.FileDocumentCheck)" Value="@ModsDirectoryCataloger.ResourceCount" Color="@(SmartSimObserver.IsModsDisabledGameSettingOn ? Color.Warning : Color.Default)" />
        </ChildContent>
        <TooltipContent>
            <MudStack Row="true">
                <MudIcon Icon="@(SmartSimObserver.IsModsDisabledGameSettingOn ? MaterialDesignIcons.Normal.FileDocumentRemove : MaterialDesignIcons.Normal.FileDocumentCheck)" />
                <MudTextM3 Typo="TypoM3.Title">@MarkupLocalizer[nameof(AppText.HUD_Resources_Tip_Caption)]</MudTextM3>
            </MudStack>
            <MudDivider />
            <MudTextM3 Typo="TypoM3.Label" Align="Align.Justify">
                @MarkupLocalizer[nameof(AppText.HUD_Resources_Tip_Description)]
            </MudTextM3>
            <MudDivider />
            <MudTextM3 Typo="TypoM3.Label" Align="Align.Justify">
                @MarkupLocalizer[nameof(AppText.HUD_Resources_Tip_Description_CreatorsNote)]
            </MudTextM3>
            @if (SmartSimObserver.IsModsDisabledGameSettingOn)
            {
                <MudDivider />
                <MudTextM3 Typo="TypoM3.Label" Align="Align.Justify" Color="Color.Warning">
                    @MarkupLocalizer[nameof(AppText.HUD_Resources_Tip_Description_ModsDisabled)]
                </MudTextM3>
            }
        </TooltipContent>
    </MudTooltip>
}
@if (Settings.Type is not UserType.Casual && ModsDirectoryCataloger.ScriptArchiveCount > 0)
{
    <MudTooltip Arrow="true">
        <ChildContent>
            <MudChip T="int" Icon="@(SmartSimObserver.IsModsDisabledGameSettingOn || !SmartSimObserver.IsScriptModsEnabledGameSettingOn ? MaterialDesignIcons.Normal.SourceBranchRemove : MaterialDesignIcons.Normal.SourceBranchCheck)" Value="@ModsDirectoryCataloger.ScriptArchiveCount" Color="@(SmartSimObserver.IsModsDisabledGameSettingOn || !SmartSimObserver.IsScriptModsEnabledGameSettingOn ? Color.Warning : Color.Default)" />
        </ChildContent>
        <TooltipContent>
            <MudStack Row="true">
                <MudIcon Icon="@(SmartSimObserver.IsModsDisabledGameSettingOn || !SmartSimObserver.IsScriptModsEnabledGameSettingOn ? MaterialDesignIcons.Normal.SourceBranchRemove : MaterialDesignIcons.Normal.SourceBranchCheck)" />
                <MudTextM3 Typo="TypoM3.Title">@MarkupLocalizer[nameof(AppText.HUD_ScriptArchives_Tip_Caption)]</MudTextM3>
            </MudStack>
            <MudDivider />
            <MudTextM3 Typo="TypoM3.Label" Align="Align.Justify">
                @MarkupLocalizer[nameof(AppText.HUD_ScriptArchives_Tip_Description)]
            </MudTextM3>
            @if (SmartSimObserver.IsModsDisabledGameSettingOn || !SmartSimObserver.IsScriptModsEnabledGameSettingOn)
            {
                <MudDivider />
                <MudTextM3 Typo="TypoM3.Label" Align="Align.Justify" Color="Color.Warning">
                    @MarkupLocalizer[nameof(AppText.HUD_ScriptArchives_Tip_ModsDisabled)]
                </MudTextM3>
            }
        </TooltipContent>
    </MudTooltip>
}
@if (Settings.Type is UserType.Creator && ModsDirectoryCataloger.PythonScriptCount > 0)
{
    <MudTooltip Arrow="true" Color="Color.Warning">
        <ChildContent>
            <MudChip T="int" Icon="@MaterialDesignIcons.Normal.SpeedometerSlow" Value="@ModsDirectoryCataloger.PythonScriptCount" Color="Color.Warning" />
        </ChildContent>
        <TooltipContent>
            <MudStack Row="true">
                <MudIcon Icon="@MaterialDesignIcons.Normal.SpeedometerSlow" />
                <MudTextM3 Typo="TypoM3.Title">@MarkupLocalizer[nameof(AppText.HUD_PythonScripts_Tip_Caption)]</MudTextM3>
            </MudStack>
            <MudDivider />
            <MudTextM3 Typo="TypoM3.Label" Align="Align.Justify">
                @MarkupLocalizer[nameof(AppText.HUD_PythonScripts_Tip_Description)]
            </MudTextM3>
            <MudDivider />
            <MudTextM3 Typo="TypoM3.Label" Align="Align.Justify">
                @MarkupLocalizer[nameof(AppText.HUD_PythonScripts_Tip_CreatorsNote)]
            </MudTextM3>
        </TooltipContent>
    </MudTooltip>
}
@if (Settings.Type is UserType.Creator && ModsDirectoryCataloger.PythonByteCodeFileCount > 0)
{
    <MudTooltip Arrow="true">
        <ChildContent>
            <MudChip T="int" Icon="@MaterialDesignIcons.Normal.Speedometer" Value="@ModsDirectoryCataloger.PythonByteCodeFileCount" Color="Color.Default" />
        </ChildContent>
        <TooltipContent>
            <MudStack Row="true">
                <MudIcon Icon="@MaterialDesignIcons.Normal.Speedometer" />
                <MudTextM3 Typo="TypoM3.Title">@MarkupLocalizer[nameof(AppText.HUD_ByteCodeFiles_Tip_Caption)]</MudTextM3>
            </MudStack>
            <MudDivider />
            <MudTextM3 Typo="TypoM3.Label" Align="Align.Justify">
                @MarkupLocalizer[nameof(AppText.HUD_ByteCodeFiles_Tip_Description)]
            </MudTextM3>
            @if (SmartSimObserver.IsModsDisabledGameSettingOn || !SmartSimObserver.IsScriptModsEnabledGameSettingOn)
            {
                <MudDivider />
                <MudTextM3 Typo="TypoM3.Label" Align="Align.Justify" Color="Color.Warning">
                    @MarkupLocalizer[nameof(AppText.HUD_ByteCodeFiles_Tip_ModsDisabled)]
                </MudTextM3>
            }
        </TooltipContent>
    </MudTooltip>
}
@if (ModsDirectoryCataloger.State is ModsDirectoryCatalogerState.Composing)
{
    <MudTooltip Arrow="true" Color="Color.Tertiary">
        <ChildContent>
            <MudChip T="string" Icon="@MaterialDesignIcons.Normal.FileSign" Color="Color.Tertiary">
                <ChildContent>@MarkupLocalizer[nameof(AppText.HUD_ComposingManifests_Tip_Caption)]</ChildContent>
            </MudChip>
        </ChildContent>
        <TooltipContent>
            <MudStack Row="true">
                <MudIcon Icon="@MaterialDesignIcons.Normal.FileSign" />
                <MudTextM3 Typo="TypoM3.Title">@MarkupLocalizer[nameof(AppText.HUD_ComposingManifests_Tip_Caption)]</MudTextM3>
            </MudStack>
            <MudDivider />
            <MudTextM3 Typo="TypoM3.Label" Align="Align.Justify">
                @MarkupLocalizer[nameof(AppText.HUD_ComposingManifests_Tip_Description)]
            </MudTextM3>
        </TooltipContent>
    </MudTooltip>
}
@if (ModsDirectoryCataloger.State is ModsDirectoryCatalogerState.Sleeping)
{
    <MudTooltip Arrow="true" Color="Color.Dark">
        <ChildContent>
            <MudChip T="string" Icon="@MaterialDesignIcons.Normal.Sleep" Color="Color.Dark">
                <ChildContent>@MarkupLocalizer[nameof(AppText.HUD_Sleeping_Tip_Caption)]</ChildContent>
            </MudChip>
        </ChildContent>
        <TooltipContent>
            <MudStack Row="true">
                <MudIcon Icon="@MaterialDesignIcons.Normal.Sleep" />
                <MudTextM3 Typo="TypoM3.Title">@MarkupLocalizer[nameof(AppText.HUD_Sleeping_Tip_Caption)]</MudTextM3>
            </MudStack>
            <MudDivider />
            <MudTextM3 Typo="TypoM3.Label" Align="Align.Justify">
                @MarkupLocalizer[nameof(AppText.HUD_Sleeping_Tip_Description)]
            </MudTextM3>
        </TooltipContent>
    </MudTooltip>
}
@if (ModsDirectoryCataloger.State is ModsDirectoryCatalogerState.Debouncing)
{
    <MudTooltip Arrow="true" Color="Color.Tertiary">
        <ChildContent>
            <MudChip T="string" Icon="@MaterialDesignIcons.Normal.Timer" Color="Color.Tertiary" Class="plumbbuddy-is-thinking">
                <ChildContent>@MarkupLocalizer[nameof(AppText.HUD_Waiting_Tip_Caption)]</ChildContent>
            </MudChip>
        </ChildContent>
        <TooltipContent>
            <MudStack Row="true">
                <MudIcon Icon="@MaterialDesignIcons.Normal.Timer" />
                <MudTextM3 Typo="TypoM3.Title">@MarkupLocalizer[nameof(AppText.HUD_Waiting_Tip_Caption)]</MudTextM3>
            </MudStack>
            <MudDivider />
            <MudTextM3 Typo="TypoM3.Label" Align="Align.Justify">
                @MarkupLocalizer[nameof(AppText.HUD_Waiting_Tip_Description)]
            </MudTextM3>
        </TooltipContent>
    </MudTooltip>
}
@if (ModsDirectoryCataloger.State is ModsDirectoryCatalogerState.Cataloging)
{
    <MudTooltip Arrow="true" Color="Color.Primary">
        <ChildContent>
            <MudChip T="string" Icon="@MaterialDesignIcons.Normal.CubeScan" Color="Color.Primary" Class="plumbbuddy-is-thinking">
                <ChildContent>
                    @MarkupLocalizer[nameof(AppText.HUD_CatalogingMods_Tip_Caption)]
                </ChildContent>
            </MudChip>
        </ChildContent>
        <TooltipContent>
            <MudStack Row="true">
                <MudIcon Icon="@MaterialDesignIcons.Normal.CubeScan" />
                <MudTextM3 Typo="TypoM3.Title">@MarkupLocalizer[nameof(AppText.HUD_CatalogingMods_Tip_Caption)]</MudTextM3>
            </MudStack>
            <MudDivider />
            <MudTextM3 Typo="TypoM3.Label" Align="Align.Justify">
                @MarkupLocalizer[nameof(AppText.HUD_CatalogingMods_Tip_Description)]
            </MudTextM3>
        </TooltipContent>
    </MudTooltip>
    if (ModsDirectoryCataloger.ProgressMax is { } progressMax)
    {
        <div class="d-inline-block" style="width: 100px;">
            <MudProgressLinear Color="Color.Primary" Max="@progressMax" Value="@ModsDirectoryCataloger.ProgressValue" Buffer />
        </div>
        <MudTooltip Arrow="true" Color="Color.Info">
            <ChildContent>
                <MudChip T="string" Icon="@MaterialDesignIcons.Normal.Timer" Color="Color.Info" Value="@(ModsDirectoryCataloger.EstimatedStateTimeRemaining is { } estimatedTimeRemaining ? estimatedTimeRemaining.ToString("mm':'ss") : AppText.HUD_CatalogingETA_Tip_Estimating)" />
            </ChildContent>
            <TooltipContent>
                <MudStack Row="true">
                    <MudIcon Icon="@MaterialDesignIcons.Normal.Timer" />
                    <MudTextM3 Typo="TypoM3.Title">@MarkupLocalizer[nameof(AppText.HUD_CatalogingETA_Tip_Caption)]</MudTextM3>
                </MudStack>
                <MudDivider />
                <MudTextM3 Typo="TypoM3.Label" Align="Align.Justify">
                    @MarkupLocalizer[nameof(AppText.HUD_CatalogingETA_Tip_Description)]
                </MudTextM3>
            </TooltipContent>
        </MudTooltip>
    }
}
@if (ModsDirectoryCataloger.State is ModsDirectoryCatalogerState.AnalyzingTopology)
{
    <MudTooltip Arrow="true" Color="Color.Secondary">
        <ChildContent>
            <MudChip T="string" Icon="@MaterialDesignIcons.Normal.SelectCompare" Color="Color.Secondary" Class="plumbbuddy-is-thinking">
                <ChildContent>@MarkupLocalizer[nameof(AppText.HUD_AnalyzingTopology_Tip_Caption)]</ChildContent>
            </MudChip>
        </ChildContent>
        <TooltipContent>
            <MudStack Row="true">
                <MudIcon Icon="@MaterialDesignIcons.Normal.SelectCompare" />
                <MudTextM3 Typo="TypoM3.Title">@MarkupLocalizer[nameof(AppText.HUD_AnalyzingTopology_Tip_Caption)]</MudTextM3>
            </MudStack>
            <MudDivider />
            <MudTextM3 Typo="TypoM3.Label" Align="Align.Justify">
                @MarkupLocalizer[nameof(AppText.HUD_AnalyzingTopology_Tip_Description)]
            </MudTextM3>
        </TooltipContent>
    </MudTooltip>
}
