@inject IMarkupLocalizer<AppText> MarkupLocalizer

<MudCarousel TData="object" @bind-SelectedIndex="@UserTypeSelectedIndex" AutoCycle="false" BulletsPosition="MudBlazor.Position.Start" Class="user-type-carousel mud-width-full" ShowArrows ShowBullets>
    <BulletTemplate Context="selected">
        <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
            <span class="mud-icon-button-label">
                <MudIcon Icon="@(selected ? Icons.Material.Filled.CheckCircle : Icons.Material.Filled.Circle)" Color="@Color.Inherit" />
            </span>
        </div>
    </BulletTemplate>
    <PreviousButtonTemplate>
        <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
            <span class="mud-icon-button-label">
                <MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-medium" Icon="@MaterialDesignIcons.Normal.ArrowLeftCircle" Color="@Color.Inherit" />
            </span>
        </div>
    </PreviousButtonTemplate>
    <NextButtonTemplate>
        <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
            <span class="mud-icon-button-label">
                <MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-medium" Icon="@MaterialDesignIcons.Normal.ArrowRightCircle" Color="@Color.Inherit" />
            </span>
        </div>
    </NextButtonTemplate>
    <ChildContent>
        <MudCarouselItem>
            <MudPage Class="carousel-item-user-casual" Column="7" Row="5">
                @if (DeviceInfo.Current.Platform == DevicePlatform.WinUI)
                {
                    <video class="carousel-item-backdrop" autoplay muted loop playsinline>
                        <source src="/video/CarouselCasual.mp4" type="video/mp4" />
                    </video>
                }
                @if (DeviceInfo.Current.Platform == DevicePlatform.macOS || DeviceInfo.Current.Platform == DevicePlatform.MacCatalyst)
                {
                    <div class="carousel-item-backdrop carousel-item-backdrop-static"></div>
                }
                <MudSection Class="description-backdrop" Column="2" ColSpan="2" Row="2" RowSpan="3">
                </MudSection>
                <MudSection Class="description" Column="2" ColSpan="2" Row="2" RowSpan="3">
                    <MudTextM3 Typo="TypoM3.Title" Size="Size.Large">
                        @MarkupLocalizer[nameof(AppText.UserTypeSelector_CasualPlayer_Label)]
                    </MudTextM3>
                    <MudDivider />
                    <MudTextM3 Typo="TypoM3.Body">
                        @MarkupLocalizer[nameof(AppText.UserTypeSelector_CasualPlayer_Description)]
                    </MudTextM3>
                </MudSection>
            </MudPage>
        </MudCarouselItem>
        <MudCarouselItem>
            <MudPage Class="carousel-item-user-enthusiast" Column="7" Row="6">
                @if (DeviceInfo.Current.Platform == DevicePlatform.WinUI)
                {
                    <video class="carousel-item-backdrop" autoplay muted loop playsinline>
                        <source src="/video/CarouselEnthusiast.mp4" type="video/mp4" />
                    </video>
                }
                @if (DeviceInfo.Current.Platform == DevicePlatform.macOS || DeviceInfo.Current.Platform == DevicePlatform.MacCatalyst)
                {
                    <div class="carousel-item-backdrop carousel-item-backdrop-static"></div>
                }
                <MudSection Class="description-backdrop" Column="2" ColSpan="5" Row="4" RowSpan="2">
                </MudSection>
                <MudSection Class="description" Column="2" ColSpan="5" Row="4" RowSpan="2">
                    <MudTextM3 Typo="TypoM3.Title" Size="Size.Large">
                        @MarkupLocalizer[nameof(AppText.UserTypeSelector_EnthusiastPlayer_Label)]
                    </MudTextM3>
                    <MudDivider />
                    <MudTextM3 Typo="TypoM3.Body">
                        @MarkupLocalizer[nameof(AppText.UserTypeSelector_EnthusiastPlayer_Description)]
                    </MudTextM3>
                </MudSection>
            </MudPage>
        </MudCarouselItem>
        <MudCarouselItem>
            <MudPage Class="carousel-item-user-creator" Column="8" Row="6">
                @if (DeviceInfo.Current.Platform == DevicePlatform.WinUI)
                {
                    <video class="carousel-item-backdrop" autoplay muted loop playsinline>
                        <source src="/video/CarouselCreator.mp4" type="video/mp4" />
                    </video>
                }
                @if (DeviceInfo.Current.Platform == DevicePlatform.macOS || DeviceInfo.Current.Platform == DevicePlatform.MacCatalyst)
                {
                    <div class="carousel-item-backdrop carousel-item-backdrop-static"></div>
                }
                <MudSection Class="description-backdrop" Column="5" ColSpan="3" Row="2" RowSpan="3">
                </MudSection>
                <MudSection Class="description" Column="5" ColSpan="3" Row="2" RowSpan="3">
                    <MudTextM3 Typo="TypoM3.Title" Size="Size.Large">
                        @MarkupLocalizer[nameof(AppText.UserTypeSelector_ModCreator_Label)]
                    </MudTextM3>
                    <MudDivider />
                    <MudTextM3 Typo="TypoM3.Body">
                        @MarkupLocalizer[nameof(AppText.UserTypeSelector_ModCreator_Description)]
                    </MudTextM3>
                </MudSection>
            </MudPage>
        </MudCarouselItem>
    </ChildContent>
</MudCarousel>
